[2016-02-10 14:45] Misplon opened #1 "Wrap post categories in an ! if function exists check"
`vantage_get_post_categories` should ideally be wrapped in an `if( !function_exists` check to make child theme adjustments easier.

https://github.com/siteorigin/vantage/blob/develop/inc/template-tags.php#L333

[2016-02-10 19:46] Misplon opened #2 "Leave a comment post meta link isn't translatable"
Unable to translate the following:

`$comments_link = '<span class="comments-link"><a href="' . get_comments_link() . '">' . get_comments_number_text( 'Leave a comment' ) . '</a></span>';`

Thanks guys.

[2016-02-16 10:37] Misplon opened #3 "Remove or update word-break property"
https://github.com/siteorigin/vantage/blob/develop/style.css#L155

Remove `word-break` property or update the value to normal. Normal is the default so recommend we remove.

[2016-02-29 13:13] AlexGStapleton opened #4 "Loop templates: If media post type is selected, display media in place of typical featured image"
When the user builds a post loop query with the SiteOrigin Post Builder post loop widget (with bundle installed) with the post type set to media, and post_status=any set certain templates won't display the media correctly.

Carousel Slider
![Carousel Slider](https://i.imgur.com/96IXsC9.png)

Grid
![Grid](https://i.imgur.com/GxXXfW4.png)

Slider shows absolutely nothing - not even the image name.

[2016-02-29 14:14] AlexGStapleton opened #5 "Unable to full screen YouTube embed in IE11"
[Issue was reported in this thread](https://siteorigin.com/thread/vantage-theme-not-allowing-youtube-video-to-go-to-full-screen/).

IE11 won't allow users to fullscreen embed YouTube videos. Able to reproduce locally with the following embed:
`<iframe class="video_view9_img" width="720" height="430" src="//www.youtube.com/embed/G6cLbHNaDW0" style="border: 0;" allowfullscreen=""></iframe>`

A quick

[2016-03-01 11:36] AlexGStapleton opened #6 "Create blank footer layout"
Certain users are messing up their sites because they can't work out how to do this. :crying_cat_face:

[2016-03-04 13:03] AlexGStapleton opened #7 "Make the "homepage" template display the feature image similar to the default homepage slider"
It seems silly you can't replicate the look of the homepage elsewhere without the meta slider plugin. Either allow this for the homepage template (seeing as it's the closest), or create another one with the functionality.

[2016-03-07 16:27] Misplon opened #8 "Mobile sticky menu behaviour is different to desktop behaviour"
Testing in iOS Chrome and Safari, the sticky menu in Vantage disappears on swipe and then reappears when stopped. User feedback suggests that users would prefer to see the same sticky menu behaviour that we have on desktop with the sticky menu being present always when activated.

[2016-03-10 12:58] AlexGStapleton opened #9 "Entry meta still displays "leave a comment" when comments are disabled"
[Issue was reported in this thread](https://siteorigin.com/thread/vantage-theme-issue-fix/). User also posted a fix but it looks a tad excessive.

When you disable comments on a post the post meta will display the "leave a comment" link in the meta.

![capture](https://cloud.githubusercontent.com/assets/17275120/13670101/8d384e50-e713-11e5-9344-31780561c9e3.PNG)

[2016-03-10 15:28] AlexGStapleton opened #10 "Add Email icon to social widget"
You should be able to set an email widget. It might be nice if this icon was "smart" in that it would check if it was an email and set it as a mailto if it was.

![sample](https://cloud.githubusercontent.com/assets/17275120/13674198/576f3904-e728-11e5-9e1a-4a4eba95a2c3.png)

[2016-03-12 13:45] AlexGStapleton opened #11 "Custom Menu Widget should have styling in the footer"
The custom menu widget has theme styling when in the header widget area but not in the footer widget area.

[2016-03-22 05:55] AlexGStapleton opened #12 "Circle Icons: Widget Styles color settings have no affect."
Another case of siteorigin/so-widgets-bundle#145

The widget styles in the circle icon widget only kind of works. The font color doesn't work at all, and the link setting only works for the more text link but not the header.

![csv7qv8](https://cloud.githubusercontent.com/assets/17275120/13943150/f16f69b8-f045-11e5-85b5-f61b276c65e4.png)
![a44c3eed1-9](https://cloud.githubusercontent.com/assets/17

[2016-03-22 05:56] AlexGStapleton opened #13 "Circle Icons: Add setting to make link open in new tab"
You should be able to set a setting that will open a new tab when the user clicks a link in the circle icon widget.

[2016-03-22 10:23] AlexGStapleton opened #14 "Circle Icon: When Widgets bundle is detected, add color pickers"
When the widget bundle is installed the hex input field should be replaced with a color picker.

[2016-03-22 10:24] AlexGStapleton opened #15 "Circle Icon: Add option to set header (title), and text colours"
Right now you can only set the background color of the widget. Certain themes may have darker default colors for h4, Vantage for instance, so if you set a dark blue the text will be unreadable.

[2016-03-25 19:53] AlexGStapleton opened #16 "Add ability to have featured image on page"
While you can set a featured image for a page, it won't be displayed. It's misleading and should be hidden on pages, or the ability added.

[2016-04-11 14:47] AlexGStapleton opened #17 "Add ability to disable title without setting page to full width"
Title pretty much covers it. A template that still had the sidebar but no title would be useful.

[2016-04-30 16:31] AlexGStapleton opened #18 "Add ability to adjust Category Archive text on backend"
I've had a few requests about this and answered a few support threads about it too.

It would be a nice idea to allow the user to be able to edit the Category Archives: [CATEGORY NAME] text on the backend.

[2016-05-01 06:27] gregpriday commented on #5
Closing this from what I understand about your follow up.

[2016-05-01 06:27] #5 closed

[2016-05-01 06:35] gregpriday commented on #17
Ideally I'd like to incorporate SiteOrigin Setting's Page Setting component in Vantage. We've tried adding this in the past, but it didn't go too well. I took the wrong approach of completely removing the old page templates and replacing them with page settings.

So if we try this again, we'd need to handle it by only applying the page settings to the default page template so we don't interfere ex

[2016-05-01 06:37] gregpriday commented on #16
Good idea, although I'd prefer it if we had this as a page setting option (defaults to off). There are a few situations where you'd use a featured image (like for Facebook og tags). If we change this now, we'll possibly break a few page designs.

[2016-05-01 06:41] gregpriday commented on #14
The colour picker is a built in WordPress element, so we could add this to the circle icon either way.

[2016-05-01 06:45] gregpriday commented on #12
A very common problem with those style fields in Page Builder. Almost wish we could remove them. We need to make some decisions on how we'll handle these and either phase them out or make them more compatible with themes and widgets. Maybe just adding `!important` will help.

Going to close this issue for now, because strictly, it's a Page Builder issue.

[2016-05-01 06:45] #12 closed

[2016-05-01 06:46] gregpriday commented on #11
Agreed. We just need to figure out what sort of styling to use. Maybe we need to have this designed.

[2016-05-01 06:47] gregpriday commented on #1
@adiraomj this is quite a big one. Reckon you could take a look?

[2016-05-01 06:49] gregpriday commented on #3
@Misplon: I'm fairly sure this comes from the default reset code. Is it causing problems?

[2016-05-01 06:55] gregpriday commented on #6
So to be clear, they just want to have a footer that essentially doesn't exist? Would it not be worth having a blank header template too? Unless we already have this, I can't remember at the moment.

[2016-05-01 06:59] AlexGStapleton commented on #6
We have a masthead menu template that outputs an empty menu, but not one for the overall header.

The idea is that this (and an empty masthead) would allow for the user to use PB more as the "theme". This is obviously possible now with CSS but right now users have to ask for instructions on how to do this.

[2016-05-01 07:16] adiraomj commented on #1
@gregpriday havn't you addressed this issue with this [commit](https://github.com/siteorigin/vantage/commit/593b08d994d5b29de3b95e6b5d5c557e336bda0b)?

[2016-05-01 07:48] gregpriday commented on #1
Aaaah yeah, thought @misplon said there were other functions missing this
check. Maybe just do a quick check through of all the functions and see if
there are any other ones we can wrap.
On Sun, 01 May 2016 at 9:16 AM Adi Rao <notifications@github.com> wrote:

[2016-05-01 07:49] gregpriday commented on #6
I like this idea. It would also be good to have them as page specific
settings too.
On Sun, 01 May 2016 at 8:59 AM Alex S <notifications@github.com> wrote:

[2016-05-03 17:21] Misplon commented on #18
I previously would use Loco Translate and as @gregpriday mentioned, create an English translation assuming it was an English site. In inc/template-tag.php, Vantage is still using the older method of handling the archive title with the function `vantage_get_archive_title`. As a result, users can translate the Category Archives and other strings using Loco Translate. However, with North we're using

[2016-05-03 17:52] Misplon commented on #1
@gregpriday @adiraomj This looks awesome, thanks G.

[2016-05-03 17:59] Misplon commented on #3
@gregpriday I actually might have been involved the adding of this mistake originally. My bad. The declaration I've highlighted is just outside of reset, it's in global and it's incorrect.

TLDR: Remove this line please: https://github.com/siteorigin/vantage/blob/develop/style.css#L155

[2016-05-03 18:03] Misplon commented on #17
@gregpriday We could just introduce a new page template: Default - No Page Title. It would be a quick addition and largely free of legacy issues. Given our workload and previous challenges introducing page settings to Vantage, I'd be happy going without them. Keen for a new page template?

[2016-05-03 18:14] Misplon commented on #17
Quick meeting. We'll go with the transition to page settings in combination with page templates. @gregpriday when you have time, please, can you add a few details here on how the cross over will work.

[2016-05-03 18:16] Misplon commented on #11
When we get to this, let's pick a vertical menu style or ask Ricardo if he can mock something up for us.

[2016-05-03 18:20] AlexGStapleton commented on #11
Yeah that could be a cool idea.

[2016-05-04 04:53] adiraomj commented on #2
@Misplon I think this issue has been dealt with this [commit](https://github.com/siteorigin/vantage/commit/db94a75f209cd1e6214bcba1582ff96f34c8e958). Please check and let me know.

[2016-05-04 06:27] adiraomj commented on #1
@Misplon this issue still needs some work. I will send a PR later today.

[2016-05-04 09:50] Misplon commented on #1
@adiraomj Sorry man, thanks for picking this up. Chat later.

[2016-05-04 09:57] Misplon commented on #2
@adiraomj At a glance, that doesn't look right. We still need the `get_comments_number_text` function. Can we not just use that function but remove the optional string we previously had in there. That way we'll be using the WordPress defaults for the strings which will be automatically translated.

[2016-05-04 16:13] #13 closed

[2016-05-04 16:16] #9 closed

[2016-05-06 07:04] adiraomj opened #22 "Support Breadcrumb NavXT"
We could add support for Breadcrumb NavXT plugin in addition to Yoast SEO. Similar to what we have done for North.

[2016-05-07 08:50] gregpriday commented on #22
You can go ahead and add this. Would be a nice addition.

[2016-05-07 16:22] Misplon opened #23 "Add mobile menu collapse setting to new settings framework"
The mobile menu collapse setting is missing from the new settings framework. We'll need to add that back. Thanks guys :)

[2016-05-07 16:39] Misplon opened #24 "Add color settings for the responsive menu"
Add settings to control the colors of the mobile menu, similar to what we have in North. Currently, the arrows for sub-menus are images so we'll need to move those after to FontAwesome or similar. I'm not sure the Navigation section is the best place for these settings. We could perhaps create a new section called Mobile Menu and take any mobile menu settings currently in Navigation and put them i

[2016-05-07 16:55] #23 closed

[2016-05-07 18:23] Misplon commented on #16
@adiraomj Let's hit this once https://github.com/siteorigin/vantage/issues/17 is complete. Thanks dude.

[2016-05-07 18:24] #1 closed

[2016-05-07 18:27] Misplon commented on #10
@adiraomj When we hit this, let's check that the Vantage Social Icon widget has access to all the latest Font Awesome social icons. Thanks man.

[2016-05-07 18:29] Misplon commented on #6
@gregpriday Do you want to add page settings to remove the header and another page setting to remove the footer? I've also seen this use case. It's usually for landing pages or one page sites so page settings could work really nicely.

[2016-05-07 21:20] gregpriday commented on #6
Yeah, this is the perfect case for Page Settings. I'll handle this because there are a few things we need to consider in terms of playing-nice with our old page templates.

[2016-05-08 04:13] adiraomj commented on #10
Will do @Misplon :-)

[2016-05-09 05:16] AlexGStapleton opened #26 "Increase Font Size of certain elements when on mobile devices to increase readability (as per PageSpeed Insights recommendation)"
Very minor thing but it'll appease certain people. :confused: The font size of certain elements, typically the post meta, and comment related sections have very small "tap areas" (12px font-size). From what I can tell, typically if you increase it to 13px or 14px on mobile Google considers it large enough. Making this will increase set our defualt mobile experince to 100%.

Reference Links:
[Blog

[2016-05-09 05:57] adiraomj commented on #22
@gregpriday should I change the function name to `vantage_display_breadcrumbs` and the filename to `breadcrumbs.php`. The naming would be more appropriate with this update.

[2016-05-09 06:09] gregpriday commented on #22
You're right. The only thing we need to think about here is child themes that have already overwritten the `vantage_display_yoast_seo_breadcrumbs` function. So what I'd suggest is this:

We remove the `vantage_display_yoast_seo_breadcrumbs`, and replace it with the broader `vantage_display_breadcrumbs ` function. Then in the `vantage_display_breadcrumbs` function, we check if the old `vantage_disp

[2016-05-09 06:11] adiraomj commented on #22
Nice.. Seems like the best way to go..

[2016-05-09 06:11] gregpriday commented on #26
@adiraomj would you like to handle this? If you do, maybe you could check around for any other enhancements we could make. Or does this really get us up to 100%?

[2016-05-09 06:13] adiraomj commented on #26
I can handle this. I'll have a look to see what we can do. :)

[2016-05-09 13:38] #22 closed

[2016-05-09 17:55] Misplon commented on #10
Should we link the mail icon to a `mailto` link?

I'm keen for a phone icon using the [tel](https://developers.google.com/web/fundamentals/native-hardware/click-to-call/?hl=en) link format. @gregpriday you cool with this?

[2016-05-09 17:57] AlexGStapleton commented on #10
I don't think hardcoding the link with a mailto is a good idea. I may wish to link to my contact page rather than directly receive emails.

It would, however, be a good idea to check for an email and then apply the mailto: to the link if not already present.

[2016-05-09 18:02] gregpriday commented on #10
Telephone icon would be a really nice addition. I also agree with @AlexGStapleton - ideally, we'd have some sort of smart detection for email addresses. Just as a failsafe for users who forget to add it in.

[2016-05-09 18:04] Misplon commented on #10
Awesome guys. Should we do the same for the tel link? For the tel link format to dial correctly it needs the full international number so that does add a level of complexity.

[2016-05-09 18:19] gregpriday commented on #10
Yeah, I think so. Some basic phone number detection should do the trick. It mainly needs to detect that what's entered isn't a valid URL.

[2016-05-10 04:17] adiraomj opened #28 "Issues associated with implementing the page settings framework"
For the masthead and footer margin options. By default Vantage does not have any CSS associated with these. How big do you reckon they should be? I was thinking about 30px each.

[2016-05-10 05:50] adiraomj opened #29 "Single post title link"
The post title in single.php is typically not a link. Shouldn't the link be removed?

https://github.com/siteorigin/vantage/blob/develop/content-single.php#L23

[2016-05-10 05:52] Misplon commented on #29
Yes, please.

[2016-05-10 06:03] #28 closed

[2016-05-10 06:03] Misplon commented on #28
(Slack convo: padding is on `#main`)

[2016-05-11 10:44] #29 closed

[2016-05-11 10:45] #2 closed

[2016-05-11 10:50] Misplon commented on #6
https://github.com/siteorigin/vantage/pull/30

[2016-05-11 10:50] #6 closed

[2016-05-11 10:51] #17 closed

[2016-05-11 17:26] Misplon opened #31 "Meta Slider Pro addons showing in Meta Slider"
Our Meta Slider Pro addons for Vantage are showing up in Meta Slider Free in open space when no slider has been added:

<img width="1427" alt="meta-slider-problem" src="https://cloud.githubusercontent.com/assets/789159/15190058/386a555a-17ae-11e6-83bb-ec2ffc4c86aa.png">

[2016-05-11 17:30] gregpriday commented on #31
I'll remove this integration.

[2016-05-11 17:33] gregpriday commented on #31
@Misplon - can you check if this is fixed in develop? Should be resolved with https://github.com/siteorigin/vantage/commit/b30c196c4e41dfe50a37634e4f323b19ec892c26

[2016-05-12 07:20] adiraomj commented on #24
Would you also like me to change the back and close links to font awesome icons?

[2016-05-12 09:57] #31 closed

[2016-05-12 15:19] AlexGStapleton opened #32 "Ability to customize scroll to top coloring"
You should be able to adjust the scroll to top colouring to better suit your websites colouring.
Oddly, there doesn't seem to be a default hover so it would be a good idea to introduce that also for UX reasons.

Ideal settings:

- background
- background hover
- color
- color hover

[2016-05-13 04:36] adiraomj commented on #10
Should we also move the RSS link to the end? Maybe before the email and phone links? Seems a little out of place in between all the social links.

[2016-05-13 05:31] gregpriday commented on #10
Yeah, I think moving it to the end would be a good idea.

[2016-05-13 05:33] adiraomj commented on #10
What  background colors would you suggest for the mail and phone links?

[2016-05-13 05:37] AlexGStapleton commented on #10
The phone links should be either green (iOS) or blue (Skype is a blue background with a white icon. Android is blue icon with a transparent background) IMO.

[2016-05-13 05:38] AlexGStapleton commented on #10
Actually, scratch that. Just mimic iOS imo.

Green = phone
Blue = mail

[2016-05-13 05:41] adiraomj commented on #10
ok..

[2016-05-13 08:42] Misplon commented on #3
https://github.com/siteorigin/vantage/commit/c92f3a8179f0d7cf209c2c3f7cdcbb863e9b4b1b

[2016-05-13 08:42] #3 closed

[2016-05-16 08:18] #10 closed

[2016-05-16 10:33] adiraomj commented on #32
I  was just wondering if we actually need 4 fields. We could just have the background and color fields.
The element could be set to have an opacity of 0.3 as default and 0.8 on hover. What do you guys think?

[2016-05-17 16:55] Misplon commented on #32
@adiraomj I'd be cool with that. One setting for background, one setting for text and we use the current normal and hover state opacity settings.

[2016-05-17 16:57] Misplon commented on #24
Sorry for the delay in replying. Yes, we'll need to change all of the current image icons to font icons. They're white now so the most common issue we'd see if we left them would be users setting the background to white and the icons no longer being visible.

[2016-05-17 17:03] Misplon commented on #18
@gregpriday Page Template settings looking awesome in North, really cool. We'll close this enhancement once they're added to Vantage.

[2016-05-18 16:59] Misplon opened #35 "Posts page: Post titles aren't outputting"
The blog page isn't displaying post titles. Post titles are however displaying in category archive pages. The blog page issue applies both "Front page displays: Your latest posts" and to a defined posts page.

[2016-05-18 18:35] Misplon commented on #16
@adiraomj #17 is closed. Let's tackle this when you get a chance. Thanks :)

[2016-05-18 18:39] Misplon commented on #11
@adiraomj would you like to take this on? We could perhaps keep it simple. Remove the list style, remove the list left padding and add an indented line below each item, much like the mobile menu in Vantage. We could tie the line indentation color to the footer background color setting.

[2016-05-18 18:43] Misplon commented on #7
@AlexGStapleton The new theme settings framework is now in Vantage. Users can remove the masthead bottom margin, this means that they can add a full-width stretched row, remove the margin and  replicate the look of the default home page without Meta Slider. That gap was always the issue that needed Custom CSS. In addition, we're tackling the question of featured images in pages in https://github.c

[2016-05-18 18:43] #7 closed

[2016-05-19 06:16] adiraomj commented on #4
@AlexGStapleton as far I can see, the images you have added above seem to be doing what they have been designed to do.

For the carousel: what you are seeing is a situation wherein the post does not have a set featured image and only the space assigned to it is being shown. My guess is that since the widget is a carousel, users would be expected to set the post query for posts that do have a featu

[2016-05-19 06:21] AlexGStapleton commented on #4
The issue here is though that as I've set the post type to media it's not possible to set a featured image. The image is quite literally the "post" itself. I'm going to rename the post title so it's slightly more clear what the issue is.

[2016-05-19 06:28] adiraomj commented on #35
@Misplon I cannot seem to replicate the issue. Can you check the **Page Template Settings** for the the **Blog Page** in the customizer and see if the **page title** is checked?

[2016-05-19 06:34] adiraomj commented on #4
Ohhh.. Will check it out now. :) Thanks.

[2016-05-19 08:36] adiraomj opened #37 "Widget Styling"
The default and WooCommerce widgets seem to have little to no styling. How about adding a little CSS? Nothing fancy, would mostly be adding padding/margin where necessary.

[2016-05-19 08:37] gregpriday commented on #37
Yeah, this is pretty much essential. Would you like to take this on? If you try get the styling to look as much like Vantage as possible, I could tweak the styling later.

[2016-05-20 01:21] AlexGStapleton opened #38 "Customize: Adjust Site title and Support text font size"
Currently to adjust the site title, and support text you need to use CSS. There should be an option in the customizer to adjust these settings.

[2016-05-23 16:15] Misplon commented on #35
@adiraomj Quite right, it was off. What confused me is that I used https://wordpress.org/plugins/wordpress-database-reset/ to reset. After resetting, the page title checkbox is disabled. I see that the default is set to `true`. Any idea why it resets to false when Masthead Bottom Margin and Footer Top Margin and reset to `true`?

[2016-05-23 17:49] adiraomj commented on #35
No idea. It has to be an issue with the settings framework. What do you think @gregpriday?

[2016-05-25 09:44] adiraomj commented on #8
I guess we also had a look at a [very similar issue](https://github.com/siteorigin/siteorigin-north/issues/126) with North yesterday.

Correct me if I am wrong, but it is my understanding that jQuery's `ScrollTop()` method does not work on iOS and Android devices when scrolled via touch. I'm looking at what we can do about it. Any ideas @gregpriday?

Would have been really easy if `position: stick

[2016-05-25 17:54] AlexGStapleton opened #40 "FitVid: Add Support for WooCommerce only pages (such as Shop)"
If you add a video to the shop page in WooCommerce, it won't be affected by FitVid. This is due to the WooCommerce shop page making use of a "custom" archive template. Specifically, it doesn't follow the exact structure [outlined here](https://github.com/siteorigin/vantage/blob/develop/js/jquery.theme-main.js#L15).

If you add .woocommerce #main to the selector, it'll work as desired. Please note

[2016-05-25 17:54] AlexGStapleton commented on #40
Just to clarify, I'm not sure if this is happening on other pages but the .woocommerce #main fix should resolve it when it does.

[2016-05-25 20:05] gregpriday commented on #40
Very well spotted!

[2016-05-26 14:15] #40 closed

[2016-05-26 18:03] gregpriday commented on #8
Yeah, this is pretty much the same issue we started having with North. So I assume it has something to do with a change in mobile browsers.

This definitely wasn't always the case with Vantage, and the issue did seem to come out of nowhere with North. I don't have any ideas or suggestions on how to fix this at the moment, but it's something we can look into down the line.

[2016-05-27 14:31] #14 closed

[2016-05-27 14:31] #15 closed

[2016-05-27 14:35] #16 closed

[2016-05-28 18:18] Misplon opened #43 "Remove entry categories from Jetpack Testimonial post type"
Remove the categories footer from Jetpack Testimonial post type.

![testimonial](https://cloud.githubusercontent.com/assets/789159/15629089/35ef6cdc-2511-11e6-8929-6249154738e9.png)

[2016-05-29 17:37] Misplon commented on #35
Here is my video showing steps to reset.

https://dl.dropboxusercontent.com/u/3072682/vantage-post-titles-after-reset.mov

[2016-05-29 17:40] Misplon commented on #18
Page settings added to Vantage. Closing.

[2016-05-29 17:40] #18 closed

[2016-05-29 17:41] #4 closed

[2016-05-30 14:42] Misplon opened #45 "Add styling for WooCommerce widgets"
@adiraomj I'd imagine the products widget is the most important. If possible, can you take a look at them all and see what needs to be done to get them in decent order?

Thanks

WooCommerce Cart
WooCommerce Layered Nav
WooCommerce Layered Nav Filter
WooCommerce Price Filter
WooCommerce Product Categories
WooCommerce Products
WooCommerce Product Search
WooCommerce Product Tags
WooCommerce Recently

[2016-05-30 16:38] Misplon opened #46 "Consider expanding Vantage Social Media widget networks"
Consider adding more networks or all available networks to the Vantage Social Media widget.

[2016-05-30 18:45] Misplon commented on #46
@adiraomj chatted with Greg, let's add the available Font Awesome social networks. Thanks :)

[2016-05-30 19:07] AlexGStapleton opened #47 "Responsive Menu: When menu item URL is empty it should open sub menu on click"
This is a UX fix. Users typically presume an empty URL menu item field should act as a # does. The normal menu allows for this but the responsive menu does not. Instead it will close the responsive menu.

[2016-05-30 19:56] AlexGStapleton opened #48 "[gallery] issue with third party plugins"
[Reported in this thread](https://siteorigin.com/thread/vantage-theme-breaks-polaroid-gallery-plugin-found-modification-to-gallery-php-fix)

[This line](https://github.com/siteorigin/vantage/blame/develop/inc/gallery.php#L20) seems to cause issues with the default WordPress gallery shortcode when third party plugins make adjustments to it. The user in the referenced theme suggested returning $cont

[2016-05-31 11:39] Misplon opened #50 "Page Settings: Consider adding a setting to remove the bottom bar"
Consider adding a page setting to remove the bottom bar below the footer widgets.

[2016-05-31 13:47] #37 closed

[2016-05-31 13:48] #43 closed

[2016-05-31 13:56] adiraomj commented on #46
I was thinking of adding

- 500px
- Behance
- Bitbucket
- Codepen
- Deviantart
- Medium
- Mixcloud
- SoundCloud
- Stumbleupon
- Tumblr
- WordPress

Anything more/less?

[2016-05-31 14:43] gregpriday commented on #46
That list looks good to me.

[2016-05-31 14:47] braamgenis commented on #46
What about GitHub? :grin:

[2016-05-31 14:49] gregpriday commented on #46
Oh yeah, of course!

[2016-05-31 16:13] Misplon commented on #38
@adiraomj Can we perhaps get this one ready for the update due to go out quite soon?

[2016-05-31 20:01] Misplon opened #51 "Header Settings: Consider making header widget and header text settings conditional"
When using the Logo in Menu layout the Header Text and Header Widget Area don't output. Consider making these two conditional.

@gregpriday. Keen?

[2016-05-31 20:07] gregpriday commented on #51
Yeah, very good idea. The new settings framework doesn't have support for conditionals yet, but I can take a look at adding those. Not sure on the best way of getting those working in the customizer.

For the header widget area, that's easy enough to hide when the user has logo in menu selected, but the widget area would only disappear on page reload.

[2016-05-31 20:17] Misplon opened #52 "Responsive Menu Collapse: Change setting to measurement"
It's really common for users to enter a value that's too low like say 10 and then not understand why the responsive menu doesn't work. This ideally needs to be a measurement setting with a minimum of 480. Ideally, users shouldn't be able to break the responsive menu by setting a value below 480.

[2016-05-31 20:30] Misplon commented on #51
Cool. I have other conditional requests so I'm going to log that. If it's possible in an acceptable way in the Customizer then we can revisit this.

[2016-06-01 16:04] #32 closed

[2016-06-01 16:23] Misplon opened #55 "Polylang Plugin: Add styling for the language switcher widget."
The Polylang language switcher widget is most commonly used in the header widget area, we just need to remove the list style and make sure it looks normal. Let's also check it in the sidebar, footer and Page Builder.

@gregpriday Should we add this as an extra stylesheet dependent on Polylang being active? Should all plugin CSS be in conditional stylesheets? Or only when it's over x amount of line

[2016-06-02 16:19] adiraomj opened #56 "Update vantage_display_logo"
The function uses `jetpack_the_site_logo` which should be replaced with `the_custom_logo`. The custom logo feature has been moved from Jetpack to the core since WP 4.5.

We should also change the theme support to `add_theme_support( 'custom-logo' );`. This will allow us to use the feature even if jetpack is not installed.

Should I go ahead with this @gregpriday ?

[2016-06-02 16:56] adiraomj opened #57 "Settings framework bugs"
Found a couple of issues.

The `measurement` field type does not show units in [customizer.php](https://github.com/siteorigin/vantage/blob/develop/inc/customizer.php).

The `text` fields in [settings.php](https://github.com/siteorigin/vantage/blob/develop/inc/settings.php) is showing an empty select field below the text input.

I am using the latest version of the settings submodule.

[2016-06-02 17:31] gregpriday commented on #57
I'll get on these.

[2016-06-02 17:47] adiraomj commented on #55
@Misplon we moved the social widget's CSS to a new file as it has turned out to be quite large. Almost 600 lines :)

[2016-06-02 19:14] gregpriday commented on #57
I've fixed the text field issue - I'll commit that now.

The other issue is actually just a limitation in the old customizer framework we're using in Vantage. It's not really a full measurement field like we have in the new settings framework. It's just a text field that appends a unit. The unit is specified in the settings array.

[2016-06-02 19:55] gregpriday commented on #55
I think we need an x lines condition. Although if we start supporting a lot of niche widgets, we could also land up with a lot of unnecessary styling in the main stylesheet. We can make a decision if that happens, though.

[2016-06-04 12:15] Misplon commented on #56
@adiraomj Nicely spotted. This is actually quite important because users previously using the Jetpack feature won't have a logo anymore. Please, proceed with this ASAP. If possible we should try include this in Monday's release.

[2016-06-04 12:35] #57 closed

[2016-06-04 12:38] Misplon commented on #55
Cool, let's decide on x lines condition at some point in the future.

[2016-06-04 12:38] #55 closed

[2016-06-04 13:57] #38 closed

[2016-06-05 13:53] Misplon opened #61 "Circle Icon Widget: Add icon color setting"
Add a setting to the Circle Icon widget for icon color. @adiraomj Sorry, I missed this setting. Picked it up now when writing documentation.

[2016-06-05 14:07] Misplon opened #62 "Custom Background: Get setting to appear without Customizer save"
The custom background feature is enabled when the layout bound setting is set to boxed. It appears as though, at the moment, you need to save the Customizer before this setting will appear. Can we get it to appear without save?

https://github.com/siteorigin/vantage/blob/develop/functions.php#L217-L237

[2016-06-05 14:39] Misplon opened #63 "Customizer Footer: Add a setting for the footer background image layout"
Add a setting for the footer background image layout. We have layout settings for all other background image settings so it make sense to add it for this setting.

[2016-06-05 14:44] Misplon opened #64 "Customizer Footer: Consider changing Headings title"
Theme Design > Footer > **Headings** only changes the widget title heading colour, it doesn't change h1-h6 heading colour within widgets in the footer. Perhaps we should change this setting label to: **Widget Titles**. @gregpriday.

[2016-06-05 14:48] Misplon opened #65 "Customizer Theme Design General: Consider inserting a link underline setting"
Consider adding a setting to General (with the link color settings) to remove the link underline styling. @gregpriday.

[2016-06-05 16:21] Misplon opened #68 "Meta Slider: Consider providing a XML import of the demo slider"
@gregpriday Let's consider providing a XML import of the demo slider for users to get started quickly.

[2016-06-06 13:35] #61 closed

[2016-06-06 13:38] gregpriday commented on #68
Is this something we could provide in the docs?

[2016-06-06 13:42] Misplon commented on #68
It's where I'd suggest putting it.

[2016-06-06 13:42] Misplon commented on #65
@adiraomj You're free to add this when possible.

[2016-06-06 13:43] Misplon commented on #64
@adiraomj You're free to make this change when possible.

[2016-06-06 13:52] adiraomj opened #69 "WooCommerce: Consider moving WooCommerce styling to its own file."
We could move all WooCommerce related styling to it's own file which loads only when the widget is active.

[2016-06-06 13:57] AlexGStapleton commented on #69
I like this idea a lot. It's quite redundant to include it on every page.

[2016-06-06 14:04] gregpriday commented on #69
Yeah, that's a very decent speed enhancement.

[2016-06-06 14:55] adiraomj commented on #65
What do you think about removing https://github.com/siteorigin/vantage/blob/develop/less/widgets.less#L70-L72 to accomodate this setting.

[2016-06-06 14:57] Misplon commented on #65
I'm ok with that. @gregpriday you cool?

[2016-06-06 15:21] gregpriday commented on #65
If we removed that line, we'd be changing the design of user's sites slightly. I'm assuming the default for this setting would be to keep the link underlining. So when a user updates the links in their footer (inside `ul`s) would suddenly be underlined.

I say we keep that styling and only apply this new setting to `entry-content` and text widget content. Anything that was currently underlined.

[2016-06-06 15:23] Misplon commented on #65
Cool.

[2016-06-06 15:23] adiraomj commented on #65
Ok. Thanks. Only entry-content and text widget then.

[2016-06-06 15:53] adiraomj commented on #69
@gregpriday should we keep this file under the theme folder or in the css folder?

[2016-06-06 15:58] gregpriday commented on #69
Let's go with the `css` folder.

[2016-06-06 17:54] Misplon opened #73 "Vantage Social Media Widget: Tel field to accept URL"
@adiraomj Sorry for missing this. Please, can we make the `Tel` field a bit smarter, just like the email field? Can we make it accept a URL if one is entered and only prepend `tel` if a phone number is detected?

[2016-06-06 18:03] gregpriday commented on #73
Assume that would mean just checking for a field with numbers dashes and a
plus? There must be a decent PHP phone number checking snippet out there.
On Mon, 06 Jun 2016 at 7:54 PM Andrew Misplon <notifications@github.com>
wrote:

[2016-06-06 18:05] adiraomj commented on #73
What we can do is use PHP's `FILTER_VALIDATE_URL` to validate url. If it fails we can display `tel:`. What do you think?

[2016-06-06 18:17] Misplon commented on #73
I'm cool with doing that way around. @gregpriday ?

[2016-06-06 18:17] #69 closed

[2016-06-06 18:17] #64 closed

[2016-06-06 18:17] #63 closed

[2016-06-06 18:18] #56 closed

[2016-06-06 18:18] #46 closed

[2016-06-06 18:18] #45 closed

[2016-06-07 14:43] adiraomj commented on #73
@Misplon I just went through out code again. The logic does use `FILTER_VALIDATE_URL` to check for a url.

However for `FILTER_VALIDATE_URL` to return true, the url must use `http://` or `https://`.

So for example:
`https://siteorigin.com` - Passes
`https://siteorigin.com` - Passes
`siteorigin.com` - Fails

https://github.com/siteorigin/vantage/blob/develop/inc/widgets.php#L321

[2016-06-07 15:10] adiraomj commented on #50
Do you mean the theme attribution?

[2016-06-07 15:28] Misplon commented on #73
@adiraomj My bad for not testing that. Cool, this is fine, let's leave it. Thanks man.

[2016-06-07 15:28] #73 closed

[2016-06-07 15:29] Misplon commented on #50
@adiraomj Indeed. Because user can remove everything else, for a landing page situation, I think they should be able to remove that too.

[2016-06-07 15:36] adiraomj commented on #50
@Misplon I think this is going to be a premium feature.

Go to **Theme Settings** -> **General** -> **SiteOrigin Attribution**.

Once the checkbox appears with the premium plugin the bar can be removed. :)

[2016-06-07 15:40] #50 closed

[2016-06-07 15:42] adiraomj commented on #52
_Update from Slack conversation:_ @Misplon and I decided to make this a range field.

[2016-06-07 16:03] #65 closed

[2016-06-07 16:03] #52 closed

[2016-06-07 16:33] Misplon commented on #47
@AlexGStapleton @adiraomj  and I haven't been able to replicate this issue. When you click a parent menu item with a `#` link , it opens the sub-menu pane, both the link text and the arrow do so. Please, can you confirm. Thanks.

[2016-06-07 22:34] AlexGStapleton commented on #47
My mistake - it was a completely empty URL. I think both should work. Thoughts?

![](https://i.imgur.com/1huQN5T.png)

[2016-06-08 03:57] adiraomj commented on #47
I think users will have to use `#` in such cases. If left empty, the anchor becomes
`<a class="link">...</a>`
as opposed to
`<a href="#" class="link">...</a>`

An element with `href` is a link which is clickable. An a element without `href` is just a placeholder and not clickable.

[2016-06-08 12:34] Misplon commented on #47
@AlexGStapleton I'm ok with leaving if this if you are. If this comes up again we can ask users to insert a `#` and all should be good.

[2016-06-08 12:51] AlexGStapleton commented on #47
That's fine.

[2016-06-08 12:51] #47 closed

[2016-06-08 16:24] Misplon opened #76 "Prebuilt: Add a thumbnail for Theme Defined home page option"
Add a thumbnail for Prebuilt > Theme Defined > Home Page.

[2016-06-09 18:14] Misplon opened #77 "Page Template Settings: Fix page title setting"
Page title setting hiding post titles, should only hide page title.

[2016-06-09 18:18] Misplon commented on #77
@adiraomj Can you please, hit this one up for us. Thanks :)

[2016-06-09 19:06] #77 closed

[2016-06-10 02:27] AlexGStapleton opened #79 "Remove .entry-header margin on page"
If the user leaves the post title blank there will be (margin) 40px of basically random spacing.
![](https://i.imgur.com/hKLPRum.png)

This issue is resolved for pages in the new version but posts are still affected by this as the entry-header is always output. Pages have an if clause in place to ensure it's only output when there is going to be something nested. A similar solution should be appli

[2016-06-11 03:50] adiraomj opened #81 "Testing theme with WP Test"
I am testing the theme with [WP Test](http://wptest.io/).

The styling for ordered and unordered lists is quite different, like so

![vantage-lists](https://cloud.githubusercontent.com/assets/3372029/15982954/7299d3ee-2fb5-11e6-8443-669b186194c1.png)

As you can see ordered lists have a margin to the left, whereas unordered lists do not. We should make the `left-margin` uniform for both.  How woul

[2016-06-11 04:32] adiraomj opened #82 "Consider highlighting comment by post author"
We could add styling to highlight comments made by post authors. This could also be a theme setting.

[2016-06-11 05:49] AlexGStapleton commented on #82
Really like this idea.

[2016-06-11 07:17] gregpriday commented on #81
Should we just remove the left margin for first level items in ordered lists? At least get it to match the unordered list left margin.

[2016-06-11 07:42] adiraomj commented on #81
Yes. I'll do that.

[2016-06-11 10:09] #79 closed

[2016-06-11 10:11] Misplon commented on #82
Nice one!

We could either go with an overall highlight OR we could consider something more subtle. In the past I've done things like put a little star icon next to the author's name when they comment.

What you thinking @adiraomj?

[2016-06-11 10:14] Misplon commented on #76
@adiraomj Can you perhaps check this one out when you have capacity? Hopefully, quick.

[2016-06-11 10:29] adiraomj commented on #76
Sure. I'll do it now.

[2016-06-11 11:39] gregpriday opened #85 "Fix Page Builder background setting migration"
For some reason, the background image, and background image display settings don't stick in Vantage. This probably has something to do with the way I implemented the migration

[2016-06-11 11:41] #81 closed

[2016-06-11 11:41] #76 closed

[2016-06-11 12:28] adiraomj commented on #82
I feel overall highlight would be too pronounced. Here is a subtle idea.

![vantage-author-comment](https://cloud.githubusercontent.com/assets/3372029/15985033/d2c60a92-2ffd-11e6-9573-c86b5106accf.png)

We could also add a text field option for this. If left blank we do not display anything.

What do you think? @Misplon @gregpriday

[2016-06-11 12:40] Misplon commented on #82
I'm keen for something exactly like that @adiraomj.

[2016-06-11 14:07] gregpriday commented on #82
Nice and subtle. That looks great!

[2016-06-11 14:46] Misplon opened #86 "FitVids: Add Tableau containers to FitVids ignore"
We introduced the FitVids setting mainly because of conflicts with Tableau charts and visuals. If we could establish standard container names that Tableau uses we could get out in front of this issue and add those classes and ID's to the ignore list:

[code]

From what I can see and find, we just need to ignore the class name `tableauPlaceholder`.

Ref: https://onlinehelp.tableau.com/current/serve

[2016-06-11 14:49] Misplon commented on #86
@adiraomj when you check this out, please, let me know if anything isn't clear. Thanks.

[2016-06-11 15:40] #86 closed

[2016-06-11 15:49] #82 closed

[2016-06-11 16:19] Misplon opened #89 "Add Footer Layout option"
Theme Settings > Layout > Footer Layout. Consider a footer layout option that will vertically align widgets instead of the horizontal alignment. We could label the option `Vertically Align Widgets`. @gregpriday keen? Wouldn't be adding bloat and this option only has `Default` right now so it looks a little odd. Vertically aligned footer widgets has been requested enough.

[2016-06-11 16:29] Misplon opened #90 "Boxed full-width stretched issue"
To replicate, use the default home page layout and switch to boxed layout. The Headline widget overlaps the container.

![boxed](https://cloud.githubusercontent.com/assets/789159/15986209/6abaabc4-3002-11e6-8522-f7e98695eb19.png)

The following will hotfix but isn't necessarily the proper solution:

[code]

[2016-06-11 16:41] Misplon opened #91 "Home slider Customizer setting not working"
In develop branch the Home Page Slider setting is having no effect when switching between Demo Slider and None. (The page settings meta box at Pages > Home is working as expected.)

[2016-06-11 16:51] Misplon opened #92 "Home page icon setting isn't working"
Home page icon setting doesn't appear to be working from the Customizer.

[2016-06-12 05:59] gregpriday commented on #92
Does it work after you publish the changes?

[2016-06-12 06:10] gregpriday commented on #26
@adiraomj have you had a chance to take a look at this?

[2016-06-12 06:11] gregpriday commented on #35
@Misplon - was this issue fixed with [this commit](https://github.com/siteorigin/vantage/commit/878e6f75396103de13cfb1871a2315b841b0ae16)?

[2016-06-12 06:38] adiraomj commented on #26
Yes I have. I'll send a PR later today. :)

[2016-06-12 06:58] gregpriday commented on #26
Perfect. Once we've finished all the [P1](https://github.com/siteorigin/vantage/labels/priority-1) issues, I'll start preparing the update.

[2016-06-12 15:19] Misplon commented on #35
Seems fine now, below is after resetting options.

<img width="911" alt="customize__june_2016_ _siteorigin_vantage_" src="https://cloud.githubusercontent.com/assets/789159/15991984/c877ca20-30c1-11e6-8a81-4afbab5d48f5.png">

After reset it is disabled when checking the blog page but I've just realised that's normal as the blog/posts page doesn't render the title.

[2016-06-12 15:19] #35 closed

[2016-06-12 15:22] Misplon commented on #92
Unfortunately, it doesn't appear after saving and publishing changes.

[2016-06-13 06:55] adiraomj opened #95 "Logo in menu does not work if no logo has been set"
Theme Settings -> Layout -> Masthead Layout (Logo in Menu)

It only works if a logo has been set. Ideally, the site-title should be displayed there when there is no logo.

[2016-06-13 07:15] adiraomj commented on #92
I just had a look at the code.

For this to work the home link should have a trailing slash. eg:
`https://siteorigin.com/` - Works
`https://siteorigin.com` - Will not work

https://github.com/siteorigin/vantage/blob/develop/inc/menu.php#L23

@gregpriday do you think we should change this? Or maybe improve to conditional statement to include both senarios?

[2016-06-13 08:03] Misplon commented on #95
Nice catch!

[2016-06-13 08:04] Misplon commented on #92
Ideally, it would accommodate both scenarios.

[2016-06-13 08:10] #90 closed

[2016-06-13 08:50] Misplon opened #96 "Theme Settings: Consider renaming responsive menu to mobile menu"
Consider renaming the following:

Responsive Menu
Responsive Menu Collapse
Responsive Menu Text
Responsive Menu Search

to

Mobile Menu
Mobile Menu Collapse
Mobile Menu Text
Mobile Menu Search

@gregpriday Keen? @adiraomj idea.

[2016-06-13 16:21] Misplon opened #99 "Fonts: Add a font color setting for site title and header text."
Add a color setting for the site title and another for header text. Common support requests.

[2016-06-13 16:25] Misplon opened #100 "Menu: Add a setting for horizontal menu item margin"
Theme Design > Menu > add a setting to allow users to change the horizontal spacing between each menu item. Has been a long-running support request. We'll need to change the wording of the existing setting (Menu Item Padding (px)) to make it clearer which value the setting is for (vertical vs horizontal).

[2016-06-13 16:43] Misplon opened #101 "Fonts: Body Font is changing other fonts"
Ideally, the Body Font setting wouldn't change the Site Title Font or the Heading Font as they have their own settings. At the moment, it seems to change those.

[2016-06-13 17:08] Misplon opened #102 "Theme Design : Fonts : Size settings don't seem to be live updating"
@adiraomj The Theme Design > Fonts size related settings don't seem to be live updating. Can you check this out for us?

[2016-06-13 17:37] Misplon commented on #102
Build script issue. Not happening in `dev` branch.

[2016-06-13 17:37] #102 closed

[2016-06-14 14:10] Misplon opened #107 "Logo in Menu: Vertical padding alignment issue"
When Logo in Menu is in use and users enter a vertical menu padding that's greater or less than the height of the logo, you get alignment issues as follows:

![2](https://cloud.githubusercontent.com/assets/789159/16045717/01b142d8-324a-11e6-89d5-79e41ddd505a.png)

The issue is that the menu item vertical padding is applied as follows:

`.main-navigation ul li a, #masthead.masthead-logo-in-menu .lo

[2016-06-14 14:22] #26 closed

[2016-06-14 14:22] AlexGStapleton commented on #107
Can confirm, this is a common support request.

[2016-06-14 14:24] #24 closed

[2016-06-14 14:34] gregpriday commented on #96
Yeah, I'm keen. Quick fix if you want to handle it @adiraomj?

[2016-06-15 07:29] Misplon commented on #96
Rad, thanks guys. I'll update docs accordingly. We'll continue on with this label for new themes.

[2016-06-15 07:50] #101 closed

[2016-06-15 07:52] #100 closed

[2016-06-15 07:52] #99 closed

[2016-06-15 07:52] #95 closed

[2016-06-15 07:54] Misplon commented on #91
@adiraomj Please, check this one out if you can. Thanks.

[2016-06-15 07:54] #92 closed

[2016-06-15 07:56] #62 closed

[2016-06-15 07:56] Misplon commented on #51
Perhaps in the new settings framework in new themes - future.

[2016-06-15 07:56] #51 closed

[2016-06-15 11:20] adiraomj opened #109 "Disabled responsive layout and mobile menu"
When the Responsive Layout is unchecked, the mobile menu still shows. This should be not be the case.

What do you guys think?

[2016-06-15 11:24] Misplon commented on #109
I don't think it should. @gregpriday ?

[2016-06-15 12:20] #96 closed

[2016-06-16 06:35] gregpriday commented on #91
@Misplon this appears to be working for me. Are you still getting the issue in the latest develop?

[2016-06-16 06:49] adiraomj commented on #91
I'm getting this issue too.

When the page settings metabox value is set to **None** everything works as expected.
When the page settings metabox value is set to **Demo Slider**, you cannot change it in the customizer.

[2016-06-16 06:56] #85 closed

[2016-06-16 07:05] gregpriday commented on #91
Aaah, I just need to fix this for new settings then.

https://github.com/siteorigin/vantage/blob/develop/inc/settings.php#L354-L366

[2016-06-18 04:23] adiraomj commented on #109
Unchecking `Responsive Layout` only works for `Boxed` layout. If you choose `Full Width` layout, it does not seem to work very well. @Misplon can you please confirm. Thanks.

[2016-06-20 17:26] Misplon commented on #89
https://github.com/siteorigin/vantage/commit/0e7ea86bc2b0a0eeffc9af8bb22fdc72e9ee098e

[2016-06-20 17:26] #89 closed

[2016-06-20 17:29] #11 closed

[2016-06-21 17:23] Misplon commented on #109
@adiraomj At the moment Vantage just replaces the normal viewport with the following: `<meta name="viewport" content="width=1280">`. Responsive behaviour will be disabled for mobile users but not for browser resizing on desktop. It doesn't use the more exhaustive method of prefixing responsive classes with a body class or similar method.

How did you do it for North? With a CSS class prefix or dif

[2016-06-23 13:18] Misplon commented on #91
Not sure if this was always the case for me. Latest pull of `development` is working if home page is displaying latest posts but it isn't working if I use the default (static) home page.

[2016-06-23 13:20] Misplon commented on #91
Further testing. Right now it only doesn't work if I use the default home page. Working if I assign another static home page.

[2016-06-23 13:22] #91 closed

[2016-06-23 16:42] Misplon opened #113 "Complete Navigation settings defaults"
Theme Settings > Navigation appears to be missing a few defaults.

[2016-06-24 00:06] AlexGStapleton opened #114 "Custom Menu In Footer: Add Drop Down Support or indication of different level"
Currently (in the latest dev version), the custom menu widget in the footer doesn't support drop down menus nor does it provide a visual indication of an item being a child.

This might mislead certain people into thinking this is a bug as they would either expect a drop down or at the very least an indication of a different level.

Reference Screenshots:
![](https://i.imgur.com/PJ129NN.png)
![](h

[2016-06-24 00:09] AlexGStapleton commented on #114
In the current (release) version of Vantage the menu appears like so:

![](https://i.imgur.com/s1z3bs6.png)

[2016-06-24 04:44] adiraomj commented on #113
@Misplon seems like all the defaults have been set.

Ref: https://github.com/siteorigin/vantage/blob/develop/inc/settings.php#L289-L300

Which field is giving you problem?

[2016-06-24 04:47] adiraomj commented on #114
This was done with #112. @Misplon what do you think?

[2016-06-24 04:47] #48 closed

[2016-06-24 10:12] Misplon commented on #113
Must have been looking at another branch. That looks perfect. Thanks dude.

[2016-06-24 10:12] #113 closed

[2016-06-24 10:16] Misplon commented on #114
@AlexGStapleton Not sure you have a full cache refresh there. Should be looking like this:

<img width="614" alt="menu" src="https://cloud.githubusercontent.com/assets/789159/16335147/62deb28a-3a05-11e6-9e80-3979abe63fa1.png">

@adiraomj I think if we add some left margin for sub-menu items it should be a good enough indicator for child/drop-down items.

[2016-06-24 11:48] AlexGStapleton commented on #114
@Misplon That image matches my reference screenshot (as below). I just don't have the widget title pictured in the image and I've cropped (read: via [ShareX](https://getsharex.com/)) it to lower the width of the image.

![](https://i.imgur.com/vz43oBk.png)

[2016-06-24 13:05] adiraomj commented on #114
Does this look better
![footer-menu-indent](https://cloud.githubusercontent.com/assets/3372029/16338421/36ac6556-3a3a-11e6-964e-2a6c2a6e8250.png)

[2016-06-24 13:40] AlexGStapleton commented on #114
Just to clarify, the bolding is from something else, right?

[2016-06-24 13:47] adiraomj commented on #114
Guess so. The only thing I have changed is the `margin-left` for `.sub-menu`.

[2016-06-24 14:38] Misplon commented on #114
Looking good
On Fri, Jun 24, 2016 at 3:47 PM Adi Rao <notifications@github.com> wrote:

[2016-06-27 01:41] AlexGStapleton opened #116 "Masthead Layout template suggestion: Widget"
I've had a few people in the past ask for this in the past (at least a dozen premium users - either directly or indirectly) but it would be a good idea to add a masthead layout option that replaced the entire header with a full-width widget area. This will allow the user to place a layout builder widget there and build their desired header. This in turn will allow the user to create a non-standard

[2016-06-28 07:56] #114 closed

[2016-06-28 17:54] #107 closed

[2016-06-29 06:11] adiraomj commented on #109
In north we added the class `responsive` to the body. When the responsive layout is disabled the main container is set to a fixed width.

[2016-06-29 14:14] Misplon commented on #109
@adiraomj I think it would be fine to use the same method in Vantage as you did with North if you're happy with that.

[2016-06-29 14:41] adiraomj commented on #109
Yes. I'll do that then. I was just thinking that such features should work in a similar manner across all our themes :)

[2016-06-29 14:44] Misplon commented on #109
Greg and I have been loosely discussing a starter theme. We had one in the past but didn't pursue it much. We're keen to get one started again. So yes, we're with you, no point in reinventing the wheel each time. It'll be much easier to have these standard features the same across themes.

[2016-07-03 14:16] adiraomj commented on #116
Shall I go ahead with this?

[2016-07-04 06:34] gregpriday commented on #116
I've always been keen on adding this. @adiraomj - if you're keen to take it on, then definitely go ahead.

[2016-07-05 12:46] AlexGStapleton opened #117 "Logo Theme Settings: No Widget Overlay should be under a different header"
As the header text isn't visible when widgets are added it makes little sense to have this setting listed under the same heading.

[2016-07-05 12:48] AlexGStapleton opened #118 "Make it more apparent that Header Text is not visible when header widgets are present"
I've seen this come up a number of times but people find it confusing that the header text is hidden after adding widgets as it doesn't say that anywhere in the theme. A note in the logo settings about this (outside of the documentation - sadly not everyone will read that) should be able to lower the amount of support related tickets regarding this in the future.

[2016-07-05 13:06] AlexGStapleton opened #119 "UX Customizer issue: Scroll to Top and Sticky Mobile Menu work when Mobile Navigation is enabled"
The Mobile Navigation navigation setting doesn't seem to matter in the customizer. Only the individual settings do which isn't how it is outside of the customizer. This can lead to confusion as to why the sticky menu is working in the customizer and not on the frontend.

[2016-07-05 13:10] AlexGStapleton opened #120 "When Post Date is disabled the byline will still be in lowercase"
This isn't a major issue but it's odd that the byline is still in lower case now that it's the first metadata present.

![](https://i.imgur.com/3OCDnUG.png)

[2016-07-05 13:15] AlexGStapleton opened #121 "When Post Comment Count is only Post Metadata enabled the separator line will still be used."
It's not unheard of to have the post date and post author to be disabled while still having the post comment count enabled.

![](https://i.imgur.com/HIQs0Fa.png)

[2016-07-05 13:17] AlexGStapleton opened #122 "Post Author Box: Add "Text to display when author's bio is empty""
If the authors bio is empty, a blank space is output. This looks odd and there maybe should be setting to control what is displayed instead.

![](https://i.imgur.com/kAQCl86.png)

[2016-07-05 13:29] AlexGStapleton opened #123 "UX Post Author's Comments Customizer: Supports HTML initally customizer but on reload HTML is removed"
The Post Author's Comments field in the customzier will allow HTML initially but the HTML is stripped on save. This is slightly misleading as the formatting works as expected when adding it.

I think if you're not going to support HTML (which I think basic formatting should be supported), you should strip it from the customizer as to not confuse people.

[2016-07-05 13:31] AlexGStapleton opened #124 "Add Menu Font Setting"
This is a semi-frequent support request but basically users would like the ability to set a custom font for the menu that is separate to all font settings.

[2016-07-05 13:36] AlexGStapleton opened #125 "UX Add Link Underline on Hover: Is only applied to post contents and text widgets"
I really like the idea of this setting but it's odd that it's listed under the general settings group and only affects the post contents and text widgets area. It should affect either everything, be moved somewhere less general or be relabeled to include content like the content link colors.

[2016-07-05 13:43] AlexGStapleton opened #126 "Mobile Menu item borders should have a setting to adjust the colors."
You're able to adjust the Menu borders but not the menu item borders. This seems odd as certain combinations of menu backgrounds and menu text would look better if the menu item borders color could were also adjusted.

[2016-07-05 13:49] AlexGStapleton opened #127 "Global Circle Icon widget settings overrides widget specified settings"
The individual widget specified setting should override the global setting, not the other way around.

![](https://i.imgur.com/jeLHoXn.gif)

[2016-07-05 14:02] AlexGStapleton opened #128 "Comments Section - Certain text colors cannot be adjusted"
Any text highlighted in the following image cannot be adjusted the via customizer.

![](https://i.imgur.com/0w5gkVm.png)

(the author tag cannot be adjusted but I think that deserves its own setting)

[2016-07-05 14:05] AlexGStapleton opened #129 "Add comment specific theme design settings"
In relation to #128 you should be able to specifically adjust the colors of this section and these settings should be stored in their own settings group.

I think you should be able to:
- Set generic comment color (date, name, etc)
- Adjust the comment headers (Comment tally and Leave a reply)
 - Set a reply background
- Adjust the author tag text and background color

[2016-07-05 14:08] AlexGStapleton opened #130 "Add ability to adjust button gradients"
Currently you're stuck with the default gradient buttons for certain form elements (comment section) and navigation elements. This would be fine but as you can easily adjust other theme colors you should be able to adjust the button gradients also.

![](https://i.imgur.com/AgnGJHx.png)
![](https://i.imgur.com/XXBRMvx.png)

[2016-07-05 14:49] adiraomj commented on #119
@AlexGStapleton did you test this issue out on a mobile device.

The **Mobile Navigation** setting makes use of [`wp_is_mobile`](https://codex.wordpress.org/Function_Reference/wp_is_mobile).

[2016-07-05 15:04] AlexGStapleton commented on #119
It does? I've never had an issue with using that setting when not on a mobile device or when using the Chrome device emulation. :confused:

Regardless, no - I didn't see the need due it being unlikely the user would be adjusting customizer settings on a mobile device. The mobile navigation shouldn't be dependent on wp_is_mobile in the customizer as in its current state it will confuse people as to

[2016-07-06 06:39] adiraomj commented on #119
Unless this is an issue, I don't think we should touch this. Moreover the setting description does mention that this is only for mobile devices.  What do you think @gregpriday ?

[2016-07-06 12:43] Misplon commented on #119
@AlexGStapleton I understand your points. This setting was introduced to allow users to active the sticky menu and back to top for mobile users. By default, those elements don't work on mobile. This setting enables the sticky menu and back to top on mobile.

We can update the label and description but otherwise can't change the setting for legacy reasons. Also, without this setting users can't ena

[2016-07-06 12:44] Misplon opened #131 "Improve Mobile Navigation setting description"
The Customizer Mobile Navigation setting is using `wp_is_mobile`. Add `is_customize_preview` so that users can see the change in the Customizer.

[2016-07-06 12:45] Misplon commented on #119
@AlexGStapleton Going to work this here for a little clarity: https://github.com/siteorigin/vantage/issues/131. Thanks :)

[2016-07-06 12:45] #119 closed

[2016-07-07 06:53] adiraomj commented on #130
To implement this I was thinking we can add a new section called **Buttons** under theme design. Two settings we can start with are _Button Color_ and _Remove Button Gradient_. Any suggestions?

[2016-07-07 08:08] #131 closed

[2016-07-07 08:14] #127 closed

[2016-07-07 08:16] Misplon commented on #130
@adiraomj Sounds good. How do you want to do this? Do you want to create a gradient from the color chosen? What about the border color? Do you want to just use a darken function for that or offer it up as a setting? If we're doing this we should consider an option to remove the shadow.

[2016-07-07 08:18] #121 closed

[2016-07-07 08:29] #118 closed

[2016-07-07 08:30] adiraomj commented on #130
@Misplon In addition to Button Color and Remove Button Gradient that I mentioned above, I will add options for the Border Color and removing of the shadow. I'll send a PR and then we could work on it from there. Sound good?

[2016-07-07 08:32] Misplon commented on #117
Hey, @AlexGStapleton. To confirm we're on the same page; No Widget Overlay stops the header widgets from overlapping onto the logo if too many are added. It drops the header widget area down onto a new row below the logo if it's detected that a logo overlap will occur. It's because it stops an overlap onto the logo and drops widgets onto a new line that it's in this section.

[2016-07-07 08:44] Misplon commented on #123
@adiraomj Please, can we have a look at Post Author's Comments field in the Customizer with `wp_kses_allowed_html` or other suitable function. Thanks :)

[2016-07-07 08:48] Misplon commented on #116
My thoughts with the mobile menu would be to check that it works nicely when a custom menu widget is added. If a user wants a menu and a mobile menu they'd add a custom menu widget. We'd need to check that styling and the breakpoint setting still works.

[2016-07-07 08:49] Misplon commented on #120
@adiraomj We could probably resolve this with CSS. If there is only one `span` element in the `div`, add title case capitalisation.

[2016-07-07 09:06] Misplon commented on #68
XML import doesn't seem to be working for me for Meta Slider. I'm going to provide links to the demo slider's assets in the docs. Users have asked for those in the past. It'll be something like, hey, if you want to experiment with our demo images, find them here.

[2016-07-07 09:06] #68 closed

[2016-07-07 14:45] AlexGStapleton opened #136 "Keyboard Accessibility issue with sub menus in main menu"
You're unable to tab through the submenus in the main navigation. This is a major accessibility issue for those physically unable to use a mouse.

[2016-07-08 04:45] AlexGStapleton commented on #117
I'm aware. My issue is not with the functionality, it's the location of the setting in the customizer.

[2016-07-08 06:46] Misplon commented on #117
Each setting is prefixed with the section name so I don't know that we
could move a setting. Assuming we could, what section are you proposing we
move it to?
On Fri, Jul 8, 2016 at 7:45 AM Alex S <notifications@github.com> wrote:

[2016-07-08 06:50] gregpriday commented on #117
Aaah, yeah, it's a bit of a limitation in the settings framework that the key of the setting is tied to the section. It's possible to move them using some migration code, but this opens us up to some potential issues. So it's better for us to avoid this if possible.

[2016-07-08 06:53] AlexGStapleton commented on #117
If that's the case - lets just leave it.

[2016-07-08 06:53] #117 closed

[2016-07-09 16:36] AlexGStapleton opened #137 "Add ability to sticky Masthead"
This request has popped up a number of times via premium support. Basically, the best use case example would be #116 with the Masthead Menu set to blank. A user may wish to create a fully custom header with a custom menu widget present in favour of the base menu. This will be completely possible until the user tries to sticky their newly created header.

[2016-07-11 07:22] Misplon commented on #122
@AlexGStapleton I'm not sure this warrants adding another setting. Each new setting has an overhead so we need to be as careful as possible with additions. I'm with you that there is a lot of negative space with no bio is added but hopefully, the workflow is like this:

Enable author bio.
Check single post.
See the bio box is blank.
Go to Users and add a bio.

[2016-07-11 07:23] Misplon commented on #124
@adiraomj Please, proceed with this addition when possible. Thanks.

[2016-07-11 07:26] Misplon commented on #125
@AlexGStapleton We had a relatively in-depth discussion about this when the setting was added. We aren't able to move sections due to limitations in the framework. The scope of the underline was decided on due to legacy styles. One of those situations where we had to add what we could while still respecting the styling existing users had.

[2016-07-11 07:26] Misplon commented on #125
https://github.com/siteorigin/vantage/issues/65

[2016-07-11 07:26] #125 closed

[2016-07-11 07:28] Misplon commented on #126
@AlexGStapleton Have there been any requests for this? The mobile menu style section has a lot of settings already. If this has been requested a few times or not yet then I'd suggest we leave it for the mean time.

[2016-07-11 07:29] Misplon commented on #128
@adiraomj Let's tie these to existing color settings wherever possible and as much as it makes sense.

[2016-07-11 07:31] gregpriday commented on #122
We can always check access rights. If the user has access rights to edit the user, then it could display a link saying "Click here to enter a user bio". Something like that.

[2016-07-11 07:33] Misplon commented on #129
@AlexGStapleton We ideally need to make as many decisions for the user as possible. The more color settings we add the greater the overhead of maintenance, it's also much harder for users without a keen design eye to get color combinations correct when a lot of options are presented. At this stage, I'd suggest we tie color settings to existing color options as much as possible.

[2016-07-11 07:34] Misplon commented on #130
@adiraomj Sounds good!

Aligning button styles has been a significant support challenge for a long time so this will be a welcome addition.

[2016-07-11 07:36] Misplon commented on #122
@adiraomj Let's implement as suggested. Nice functional addition, dig it. Thanks.

[2016-07-11 12:09] AlexGStapleton commented on #126
As these settings aren't in the love version I've only had indirect requests so I'm happy with waiting for feedback on this one.

[2016-07-11 12:09] #126 closed

[2016-07-11 12:11] AlexGStapleton commented on #129
Ah okay, yeah that makes sense.

[2016-07-11 12:27] Misplon commented on #129
Cool, let's see how we do in the other case logged.

[2016-07-11 12:27] #129 closed

[2016-07-11 12:34] Misplon commented on #126
Sweet, let's see how it goes.

[2016-07-11 17:58] adiraomj commented on #130
@Misplon the settings I have added are _Button Background Color_, _Button Color_, _Button Border Color_, _Remove Button Text Shadow_ and _Remove Button Shadow_.

I have run into a slight roadblock. How do we go about setting the defaults for the color fields?

For background color we use  a [gradient](https://github.com/siteorigin/vantage/blob/develop/style.css#L312-L316). I have set it to `#fffff

[2016-07-11 18:20] adiraomj commented on #130
How about giving the border a single color?

[2016-07-12 04:41] adiraomj commented on #124
@AlexGStapleton which elements should the font be applied for? Is it the menu items only. Or do we also include the [menu text](https://github.com/siteorigin/vantage/blob/develop/inc/settings.php#L107-L109)?

[2016-07-12 05:09] AlexGStapleton commented on #124
I'm not too sure. @Misplon thoughts?

[2016-07-12 10:00] Misplon commented on #124
@adiraomj Menu items/links and menu text should be good. Thanks.

[2016-07-12 11:50] Misplon commented on #130
@adiraomj Can we perhaps add a value as default setting that's mid-way between the first and last value of the gradients for the background and border?

[2016-07-13 04:04] adiraomj opened #139 "Add option for meta text color"
In North we have used a color setting for `meta text color`. Consider implementing the same in Vantage.

[2016-07-13 06:23] adiraomj commented on #116
@Misplon Rather that touch the navigation bar, we can let users enable/disable it using existing settings. We can then check for widgets in the new widget section and apply it to both layouts. I'll send a PR. Please have a look and let me know what you think. :)

[2016-07-13 13:12] AlexGStapleton opened #145 "Home page Slider: Add check to ensure Meta Slider is enabled on frontend"
If you set the home page slider to a meta slider and then disable Meta Slider, the shortcode will be output on the frontend. We should check for Meta Slider before outputting the shortcode to ensure this doesn't happen.

![](https://i.imgur.com/ZY4ouCY.png)

[2016-07-14 08:19] Misplon commented on #139
Sounds good. Perhaps after the Page Title Color setting?

[2016-07-14 08:40] #123 closed

[2016-07-14 11:22] AlexGStapleton opened #146 "Allow more control over headings (h1, h2, etc)"
A common support request regarding Vantage is more control over the headings. Be it a specific font for the h3,  a slightly larger h2 or a different color h1. People would like slightly more control over them.

At the very least you should be able to adjust the base font size of the headers as currently they're, well... they're not very large. All sub 2em with small .1 increments.

[2016-07-18 09:05] Misplon commented on #146
We could add six settings to the Theme Design > Fonts Section starting at the bottom of the existing list.

Content Heading One Size
Content Heading Two Size
Content Heading Three Size
etc.

Assuming that fits.

I'd suggest just doing these settings in px as it's much easier for the user to understand and work with.

[2016-07-19 07:48] AlexGStapleton opened #147 "Homepage meta slider is set to demo by default"
On a fresh install of WordPress if you save your home page (via WP Admin > Appearance > Home Page) it'll automatically set the page meta slider as demo slider.

![](https://i.imgur.com/ayTFkXW.png)

This would be fine but as this page setting will override the customizer home page slider setting if the homepage is set as a static page it leads to confusion why the demo slider is appearing rather t

[2016-07-19 07:51] AlexGStapleton opened #148 "If home page is set as static front page the home page slider theme setting doesn't do anything"
If the home page slider is [set to none](https://i.imgur.com/dvRRQXx.png), and the customizer home page slider is set a slider, nothing will be displayed. If the page is set to none and the customizer isn't, the customizer setting should be used.

[2016-07-19 08:51] Misplon commented on #148
@AlexGStapleton nice spot. These settings are meant to mirror each other. If that's broken then ideally that's the issue we should fix in this case.

[2016-07-19 08:53] Misplon commented on #147
@AlexGStapleton Appearance > Home Page throws a new hurdle into the whole setup but as far as Pages > Home Page and Appearance > Customize go, those settings should be a mirror of each other.

[2016-07-19 09:12] AlexGStapleton commented on #147
So #148 is the real issue? And this issue (as in #147) is as a result of that issue? If so, might as well close this then.

[2016-07-19 09:53] Misplon commented on #147
Sweet, let's do that. We'll tackle #148 and then see where we are.

[2016-07-19 09:53] #147 closed

[2016-07-19 10:40] Misplon opened #149 "WooCommerce Checkout button focus state issue"
The WooCommerce Checkout button has unique blue styling but in the focus state it's using styling from the default Vantage button style which doesn't match.

<img width="399" alt="woocommerce-checkout" src="https://cloud.githubusercontent.com/assets/789159/16947197/f55709ee-4dad-11e6-8de5-84a1a33eb856.png">

[2016-07-19 13:35] adiraomj commented on #146
@Misplon do you think we should apply this sitewide or only to headings in `.entry-content`?

[2016-07-19 13:57] #122 closed

[2016-07-19 14:56] Misplon commented on #146
@adiraomj At this stage, I'd be included to constrain it to `entry-content`. We could expand it to other areas later if the need/requests come up.

[2016-07-22 10:41] Misplon commented on #137
We can implement this by migrating the current sticky menu checkbox to a drop down. The drop down would perhaps have three options:

Sticky: Header / Menu / Header and Menu

[2016-07-23 11:48] #124 closed

[2016-07-23 16:12] AlexGStapleton opened #150 "Post Content Excerpt: Add setting to enable read more button"
It would be a good idea to allow the option of adding a read more link when the excerpt post content is being used.

[2016-07-25 18:43] AlexGStapleton opened #151 "Vantage: Add Upgrade Path to Theme Settings"
I know we're not selling Vantage Premium anymore but existing premium users still have it and want to upgrade. It would be a good idea to add an upgrade method when 2.5 is released to allow the user to upgrade to Vantage Premium without having to downgrade to 1.4.4.

[2016-07-25 18:59] AlexGStapleton commented on #151
[Andrew's comments on Slack](https://siteorigin.slack.com/archives/themes/p1469473015000026) (purely for reference)

[2016-07-26 17:36] AlexGStapleton opened #152 "Setting to enable Site Title when logo is set"
People would like to be able to set a logo and the site name be visible at the same time. Something like the following image but with the text actually being text

![](https://i.imgur.com/Yf0iy5D.png)

This is a semi-common customization request and is especially common with the Logo in the Menu masthead.

[2016-07-26 18:09] Misplon commented on #152
Comes up enough. Nicely done.

[2016-07-26 19:06] AlexGStapleton opened #153 "Add field to override Site Title for the text logo"
Certain users have, in the past, asked for the ability to edit the text logo independently of the site title. Thoughts?

[2016-07-26 19:09] Misplon commented on #153
Not sure we can assist here dude. We can perhaps offer the Vantage logo PSD file? @gregpriday want to do that?

[2016-07-26 19:09] AlexGStapleton commented on #153
I mean that would be ideal to prevent the need for another setting.

[2016-07-26 19:10] AlexGStapleton commented on #153
Ideally, we should imo provide as many (at the very least, to Premium users) assets we can so that users can customize them.

[2016-07-27 16:44] AlexGStapleton opened #154 "Site Information Text should support basic HTML"
In previous versions the Site Information Text field supported basic HTML (a, strong, em, br, etc) but it no longer does. It should be noted that it'll work as desired (in the customizer preview) on input will be stripped on save.

[2016-07-27 16:57] Misplon commented on #153
Cool. I'll integrate this into the docs. @gregpriday You ok with this? If so, can you send me the Vantage logo PSD if we have it?

[2016-07-27 16:58] Misplon commented on #151
@AlexGStapleton Lots on the go right now. It'll all come into line very soon. You cool with me closing this?

[2016-07-27 16:59] AlexGStapleton commented on #151
Yeah sure.

[2016-07-27 16:59] #151 closed

[2016-07-27 17:18] AlexGStapleton opened #155 "Use Numeric font weight rather than bold for b and strong"
It seems that Safari treats font-weight: bold; differently than other browsers. To avoid this issue I think it would be a good idea to switch to [this](https://github.com/siteorigin/vantage/blob/develop/style.less#L94) to a numeric value rather than using bold.

This issue has come up a number of times for me in the past.

[2016-07-27 17:22] AlexGStapleton commented on #155
[Andrew's thoughts](https://siteorigin.slack.com/archives/themes/p1469639939000030).

[2016-07-27 21:06] Misplon opened #156 "Vantage Headline Widget: Allow basic HTML"
Allow basic HTML in the Vantage Headline widget, mostly so users can add a link.

[2016-07-28 13:27] AlexGStapleton opened #157 "Grid & Circle Icon Loop: Allow user to define column count"
You should be able to set the column count. This will overall enhance using these as post loop templates.

[2016-07-28 13:28] AlexGStapleton opened #158 "Grid & Circle Icon Loop: Add support for full post and excerpt"
This is a followup issue to #157 if that change is made the user may decide to use two rows to a loop which could quite easily pull off the full post.

[2016-07-28 13:38] Misplon commented on #158
Both the grid and circle loop have a horizontal design so if the user isn't splitting their posts very soon after the title, which is unlikely, full post content could negatively impact the page with long pieces of text pushed into pretty small columns. What we could do is apply the excerpt settings to the grid and post loop templates, allowing the user to control the number of words.

[2016-07-28 13:42] Misplon commented on #157
I dig this idea but what do you want to do with images? Make them dynamic? Keep in mind they're currently a defined thumbnail size. Ideas?

[2016-07-28 13:48] AlexGStapleton commented on #158
Do you think #157 would help negate that potential issue? We could maybe set it up so that it's more of a grid system rather than a float system (as in, set in place rather than fit in place).

[2016-07-28 13:49] AlexGStapleton commented on #157
That's tricky. I personally would like to see a sizing field akin to the sizing fields in the Widgets Bundle but that might be a bit much. Hm. Maybe we could add a setting to the media page (so we don't clutter the customizer) akin to how [Simple Image Sizes
](https://wordpress.org/plugins/simple-image-sizes/) lets you change image sizes.

Thoughts?

[2016-07-28 14:46] Misplon commented on #157
Task: Add to the Blog section a numeric field that would apply to the Grid and Circle Icon loops to set a column count. The field must have a minimum value that equals the current column count. Consider adding to the bottom of the Blog Theme Settings section.

[2016-07-28 14:47] Misplon commented on #158
**Task** Apply the Excerpt Length setting from Theme Settings > Blog to the Grid and Circle Icon loops.

[2016-07-28 14:51] Misplon opened #159 "Theme Settings: Blog: Add excerpt length setting"
Add excerpt length setting in Vantage as we did in North.

[2016-07-28 17:33] AlexGStapleton commented on #158
Looks good. :+1:

Forgot to reference [Slack](https://siteorigin.slack.com/archives/themes/p1469713773000004).

[2016-07-28 17:41] AlexGStapleton commented on #157
Sounds good but it should be noted that the circle icons has a column count of three and Grid has a column count of 4.

Forgot to reference [Slack](https://siteorigin.slack.com/archives/themes/p1469713773000004).

[2016-07-28 17:54] Misplon commented on #157
Cool, two fields then.

[2016-07-30 05:42] adiraomj commented on #152
@Misplon how would you suggest the setting's logic should work? My idea:

label - Display site title alongside logo
description - Only applicable if a Logo Image has been set.

[2016-07-30 06:28] #128 closed

[2016-07-30 10:36] #154 closed

[2016-07-30 11:51] #120 closed

[2016-07-30 11:58] Misplon commented on #152
Perfect! (I'm assuming the site title goes after the logo.)

[2016-07-30 12:02] #116 closed

[2016-07-30 12:02] #130 closed

[2016-07-30 12:03] #146 closed

[2016-07-30 12:04] #159 closed

[2016-07-30 12:54] adiraomj commented on #152
Yes it does.

[2016-07-31 10:15] AlexGStapleton opened #164 "Add setting to have slider before menu"
In the past, certain people have desired for the menu to be displayed after the slider. This has required a child theme in the past and I think it's a decent enough customization that it should be possible in the base version.

[2016-07-31 11:35] Misplon commented on #164
Sure, we can consider this. I child themed it a few times. How much demand are you seeing for this @AlexGStapleton? It's quite a complicated setting if we add to the page meta box. It also usually only applies to Logo in Menu which adds further questions and complications. It might be better to leave this one alone and rather put the dev time into one of the new themes on the way.

[2016-07-31 16:57] Misplon commented on #164
Sweet. Let's child theme for the moment.

[2016-08-01 13:45] AlexGStapleton opened #165 "Mobile Menu: Setting enabled by default but not visible until setting resaved in odd manner"
I've seen a number of reports lately of the mobile menu not working. The fix has always been to disable and then re-enable the setting. The cause of this is the default value of the setting. [By default](https://github.com/siteorigin/vantage/blame/develop/inc/settings.php#L292), it's set to true however it's not stored in such a manner - it's not set (ie. null). This means that the [current checks

[2016-08-01 13:59] AlexGStapleton opened #166 "Mobile Menu Collapse: When blank, default to default value"
I had a user report an issue with his mobile menu and it turned out that he had blanked the Mobile Menu Collapse field. We shouldn't allow this as if the user wishes to disable the field they should, well... disable it.

[2016-08-01 14:03] AlexGStapleton opened #167 "Mobile Menu Collapse: When set to 0, always show mobile menu instead of default menu"
This is a request I've gotten a couple of times and there's little need to use a setting for it.

Basically, some users wish to have the hamburger menu present at all times. I think it would be a good idea to allow for the user to set the Mobile Menu Collapse to 0 to do this rather than some unnecessarily high amount.

[2016-08-01 15:12] Misplon commented on #165
Cool, we'll resolve ASAP. Thanks Alex.

[2016-08-01 15:13] Misplon commented on #167
I've always wanted the mobile menu collapse to have a minimum of 480 because so many users set it below 480 and then don't understand why it doesn't work. Making 0 = always on works for me.

[2016-08-01 15:31] Misplon commented on #166
Sweet. Default to 480.

[2016-08-02 05:46] AlexGStapleton opened #168 "Add Icons settings group"
Similar to that of the North Icons settings group, the user should be able to easily adjust the icons of the theme.

[2016-08-02 08:11] #165 closed

[2016-08-02 16:57] adiraomj commented on #155
@AlexGStapleton How do bold elements show up on Safari? I'm not seeing any problem. :)

[2016-08-02 17:07] AlexGStapleton commented on #155
Typically not bold while other browsers are.

[2016-08-02 17:55] adiraomj opened #171 "Remove function vantage_web_fonts"
We can delete this bit https://github.com/siteorigin/vantage/blob/develop/functions.php#L350-L360 as the Roboto font is not used anywhere.

@gregpriday do you see any reason not to?

[2016-08-02 17:59] gregpriday commented on #171
Yeah, that really shouldn't be there. I think in the past we might have used Roboto as a the site title font, but it doesn't look like that's the case anymore. You can go ahead and remove that.

[2016-08-02 19:40] #152 closed

[2016-08-02 19:41] #171 closed

[2016-08-04 18:53] AlexGStapleton opened #172 "Taxonomy description: Add support for shortcodes"
You should be able to use shortcodes in the taxonomy description.

![](https://i.imgur.com/JCM8C8y.png)

[2016-08-04 18:56] AlexGStapleton opened #173 "Readd vantage.pot"
People unfamiliar with translation have a hard time creating pot files. It also makes it much more convenient for the user to set up a po. Is there any reason why we no longer add it?

[2016-08-05 13:50] Misplon commented on #173
Users should ideally be using Loco Translate which handles everything. It's by far the easiest method for normal users to translate their installation.

I'm not following what the difference is between translating Vantage from a .pot file vs a .po file. You can open either in Poedtior and then save your language files from there. Either way, the user still has to create a new language file for the

[2016-08-08 10:14] #164 closed

[2016-08-08 10:14] Misplon commented on #173
@AlexGStapleton Quick look at this when you get a moment. Thanks :)

[2016-08-08 12:47] AlexGStapleton commented on #173
Oh sorry, must have missed this.

A pot file is a file generated by PoEdit (for example) and is basically a template for others to build off of. It prevents them from having to find the translated things manually and such.

While a pot can be used as a po file (and vice versa) you're intended to create a template (pot) and then build a po based on the template. Most software will keep this in mind

[2016-08-08 16:32] AlexGStapleton commented on #173
Disregard this - it's added via the build script. Awkward.

[2016-08-08 16:32] #173 closed

[2016-08-12 19:26] AlexGStapleton opened #174 "Remove height / overflow on blog grid"
[This line](https://github.com/siteorigin/vantage/blob/develop/style.css#L3200) (can't find it in style.less for some reason) will hide anything larger than the height defined. This, commonly, is undesired and should be corrected. I think it would be a good idea to remove it and instead show the common [...] via PHP instead or alternatively, don't do anything.

Here's what the styling does:
![](ht

[2016-08-16 15:28] AlexGStapleton opened #175 "Force PB Styles Full Width should be disabled by default"
The description suggests that this is a legacy setting and as a result it shouldn't be enabled by default.

[2016-08-16 16:03] AlexGStapleton commented on #148
When you save the homepage for the first time it'll save as whatever the customer setting is. This means if you had previously set the setting in the customizer to be none, it'll be none. However if you saved the base home page, it'll be set to demo and thus override the customizer.

[2016-08-21 14:07] adiraomj commented on #167
Just a thought: wouldn't there be chance for this to affect backwards compatibility?
Users could have set the  mobile menu to 0 with the intention of eliminating it.

[2016-08-21 15:24] #156 closed

[2016-08-21 18:48] AlexGStapleton commented on #167
I feel if they had intentions of disabling it they should have just done that. I suspect the number of people who would be affected by this would be sub 5 at most. Hm, I mean worse comes to worse we could run a check on update to check for a zero value and then reset that field and disable the Mobile menu.

[2016-08-22 11:19] #172 closed

[2016-08-22 11:23] #174 closed

[2016-08-25 04:50] AlexGStapleton opened #178 "Vantage Social Media Widget doesn't load CSS when in layout builder"
The CSS (file) isn't included in the output when a Vantage Social Media Widget button is inside of a layout builder.

Expected Output:
![](https://i.imgur.com/2t1clu6.png)

Actual Output:
![](https://i.imgur.com/5Xgfau8.png)

[2016-08-25 15:56] adiraomj commented on #178
Ref: https://github.com/siteorigin/siteorigin-panels/issues/282

[2016-08-25 15:58] AlexGStapleton commented on #178
@adiraomj Oh nice job mate! :+1:

[2016-08-25 19:14] #167 closed

[2016-08-26 03:54] #175 closed

[2016-08-27 18:38] #158 closed

[2016-08-27 18:38] #157 closed

[2016-08-27 18:38] #150 closed

[2016-08-27 18:41] Misplon commented on #166
Resolved via https://github.com/siteorigin/vantage/commit/1185d6d192de64a7ee0019f9dc191725340d9dc6.

[2016-08-27 18:41] #166 closed

[2016-08-29 13:30] Misplon commented on #148
@adiraomj When we return to Vantage, let's try put this one at the top of the list.

[2016-08-29 14:43] #148 closed

[2016-08-29 19:56] Misplon opened #181 "Look at Masthead widget title setting label wording"
@adiraomj Do you want to change:

**Masthead Sidebar Widget Titles**

to:

**Masthead Widget Titles**

The sidebar part only makes sense to us.

[2016-08-31 11:15] Misplon opened #182 "Customizer home slider stretch setting isn't syncing with Pages - Home"
The Customizer - Theme Settings - Home - Stretch Slider setting isn't syncing with the Pages - Home - Stretch Slider setting. It does seem to work the other way around through. The page setting is parsing its value to the Customizer.

Video: https://www.dropbox.com/s/kuy9co90ry7i0hj/stretch-sync.mp4?dl=0

[2016-08-31 11:19] Misplon commented on #182
Put another way. If both the page setting and Customizer stretch setting is disabled, the Customizer can then stretch the slider. But, if the home stretch setting is enabled first, the Customizer can't turn stretch off.

[2016-09-16 03:11] AlexGStapleton opened #183 "When Read More Text is empty, display default value on frontend"
When the Vantage setting, Read More Text (blog_read_more), is empty it'll show a blank button with no text. Instead, it should show the default text, which is "Continue reading".

This will prevent the empty button from showing up and it'll also allow users to translate the read more button in the same method they translate the mobile menu text.

Reference Image:
![](https://i.imgur.com/hxdJT51.pn

[2016-09-23 16:24] cartpauj opened #184 "Grabbing available templates not working"
I'm posting here to hopefully cut out the middle-man between us on this one.

For some reason I'm not able to grab the available custom templates of the theme inside of a custom meta box for our custom post type.

[code]

You'll see the "register_meta_box_cb" line. This is where we add the meta boxes for our custom post type. We call **get_page_templates()** inside of MeprProductsCtrl::add_meta_bo

[2016-09-23 16:46] AlexGStapleton commented on #184
Hey mate,

It's possible, but without seeing the full code it's hard to tell. What is the hook being used to initiate register_post_type method?

That's what it does. [Here's](https://core.trac.wordpress.org/browser/tags/4.6.1/src/wp-includes/class-wp-theme.php#L1024) exactly where it does it.

[2016-09-23 16:56] cartpauj commented on #184
`add_action('init', array( $this, 'register_post_type' ), 0);`
I don't think it's a timing issue, but looking over the method in core, I'm not sure why it wouldn't pull them up.

I wonder if https://core.trac.wordpress.org/browser/tags/4.6.1/src/wp-includes/class-wp-theme.php#L1021 clearing the page template cache before we make our call would help. I'll maybe give that a try and report back.

[2016-09-23 17:24] cartpauj commented on #184
Whatever the issue is, I don't think it's anything related to MP or your theme. It's working fine on a few test sites of mine apparently: http://cspf.co/hYpt

Not sure why it's breaking on the client's site at this point, but I think we can safely close this out as a non-issue. Sorry to bother, and thanks for the quick response. Very nice theme by the way!

[2016-09-23 17:24] #184 closed

[2016-09-24 07:15] AlexGStapleton commented on #184
Good to know. Thanks for testing this one mate. 😄

Nice product by the way! 👍

[2016-09-25 06:27] adiraomj commented on #181
Yes. Sounds better.

[2016-09-25 18:22] #183 closed

[2016-09-25 18:37] #149 closed

[2016-09-25 18:43] #181 closed

[2016-09-27 19:06] AlexGStapleton opened #188 "Apply a z-index to .site-navigation"
In certain instances, the sub menu will appear below elements. A good example of this is a Meta Slider Pro layout slider, where it will always happen. As a result of this it would be a good idea to apply a z-index to .site-navigation also (it's currently only applied to .sub-menu).

[2016-09-28 07:04] Misplon commented on #188
@AlexGStapleton Can you check this for us?

https://github.com/siteorigin/vantage/commits/develop

Thanks

[2016-09-28 07:23] AlexGStapleton commented on #188
Good to go! 👍

[2016-09-28 07:23] #188 closed

[2016-09-29 09:57] #155 closed

[2016-10-04 11:54] AlexGStapleton opened #191 "Page Settings Layout: Full Width doesn't do anything when layout bound is boxed"
The full-width page settings layout doesn't actually do anything when the layout bound is set to boxed. We should remove the max-width on the page-wrapper to allow for the boxed layout to be full width if the full-width layout is selected.

[2016-10-06 08:38] AlexGStapleton opened #193 "Boxed layout: Stretched rows"
In the boxed layout the default width of rows with a row style applied will exceed the container. It'll look like this:

![](https://i.imgur.com/0nBDXYU.png)

To resolve this issue [this line](https://github.com/siteorigin/vantage/blame/develop/less/widgets.less#L761) needs to be removed as the default .panel-row-style doesn't cause this issue (-35px vs -20px). Here's a before and after gif:

![](

[2016-10-06 08:43] Misplon commented on #193
Long running issue.

[2016-10-06 09:55] gregpriday commented on #182
@Misplon I think this covers all situations. Can you give it a spin to see if it works for you.

https://github.com/siteorigin/vantage/commit/466024d306ab110f37a143bc100c4b5555573f8c

[2016-10-06 09:56] Misplon commented on #182
Legend! Thanks! Will check as soon as I get back to puter.
On Thu, 06 Oct 2016 at 11:55 AM Greg Priday <notifications@github.com>
wrote:

[2016-10-06 16:04] #193 closed

[2016-10-06 16:05] #191 closed

[2016-10-06 16:07] Misplon commented on #182
Resolved via: https://github.com/siteorigin/vantage/commit/466024d306ab110f37a143bc100c4b5555573f8c

[2016-10-06 16:07] #182 closed

[2016-10-11 16:07] fillippoygamboa opened #194 "statistics in vantage theme"
hello, i installed the theme vantage for my blog, bit now that i started having visitors, cannot find the statistics to do a follow up of how many people is visiting it. i would like to know where do i have a search o what to do in order to get this information.

thank you very much,

victoria fillippo

[2016-10-11 16:14] AlexGStapleton commented on #194
Unfortunately, this isn't something we can include in a WordPress theme. You'll need to use a third party plugin to do this - [this article](http://www.wpbeginner.com/showcase/7-best-analytics-solutions-for-wordpress-users/) covers a number of solutions that you might like. These plugins require time to gather the relevant stats so unfortunately, any stats prior to installation will not have bene

[2016-10-11 17:21] #194 closed

[2016-10-23 13:41] Misplon commented on #168
https://github.com/siteorigin/vantage/pull/195/commits/49f6a613fa22959dec7da2459e32289467ada82e

[2016-10-23 13:41] #168 closed

[2016-10-25 09:05] AlexGStapleton opened #196 "Row with row styles with a layout builder with a row with row styles will cause an overlap"
Title explains it all. Please note that this issue will likely be clearer by seeing the issue itself.

![](https://i.imgur.com/94XdXDN.png)

[Reference page](http://alex.siteorigin.net/panel-row-style-overlap-due-to-margin/)
[Reference Layout](https://u.teknik.io/4Zhyu.json)

[2016-10-31 01:58] AlexGStapleton opened #197 "Background Image media field is not present on custom home page"
The recently introduced image media field will not be loaded on a custom home page. This is a huge issue if you edit the custom home page as a page and set the background image via the background image field. Going back to the custom home page editor and saving it will lead to the background image being unset.

Steps to replicate:

Navigate to WP Admin > Appearance > Home Page
Click Edit As Page,

[2016-10-31 02:00] AlexGStapleton commented on #197
This seems to be happening because the meta check fails as there's no post id sent to [vantage_panels_row_style_fields](https://github.com/siteorigin/vantage/blob/develop/inc/panels.php#L214)

[2016-11-06 05:02] Misplon opened #198 "Logo in Menu: Logo margin style sometimes incorrect"
It seems to be visible in Safari most easily. The top margin inline style is being incorrectly applied on first load. If you refresh, all is normal.

<img width="1440" alt="margin-top" src="https://cloud.githubusercontent.com/assets/789159/20035483/e6d661f2-a3ee-11e6-9e0f-53847a84c479.png">

Issue has been raised twice this week that I've dealt with.

[2016-11-07 08:04] AlexGStapleton commented on #198
Seen this come up an absolute ton. It's typically very easy to override it so I guess I never logged it. 😕

That's a sick inspector theme by the way. ;)

[2016-11-07 08:07] Misplon commented on #198
Thanks for confirming. Cool, let's try get to the bottom of this.

Thanks :) Forget the name, one of the dark ones, perhaps Zero Dark Matrix.

[2016-11-07 10:01] gregpriday commented on #197
This turned out to be a Page Builder issue. Resolved it in [this commit](https://github.com/siteorigin/siteorigin-panels/commit/98f3de345c028a2b81a6d26e2f59af7cf82892a5).

[2016-11-07 10:01] #197 closed

[2016-11-07 10:26] AlexGStapleton commented on #197
Oh well, as long as it's sorted. :)

[2016-11-07 12:13] Misplon commented on #139
The post meta link color is darker. The current color functions in the new settings framework aren't accessible from the old Customizer settings framework. If we don't want to double-up on functionality by adding a new PHP color function we'll need to expand the scope of the new settings framework to allow the old Customizer framework to lighten/darken.

[2016-11-07 12:59] Misplon commented on #137
@gregpriday Think you could investigate this for us? Can we migrate a checkbox into a drop-down?

[2016-11-07 13:09] gregpriday commented on #137
The migration part would be double, but messy as usual. We can investigate this at some point.

[2016-11-07 13:10] Misplon commented on #137
Cool, closing for now.

[2016-11-07 13:10] #137 closed

[2016-11-07 13:13] Misplon commented on #153
Added to: https://siteorigin.com/vantage-documentation/customizing-vantage/theme-settings/logo/.

[2016-11-07 13:13] #153 closed

[2016-11-08 07:47] #198 closed

[2016-11-09 07:15] Misplon opened #203 "Add basic EDD support"
Add basic template support for EDD where required.

[2016-11-09 12:05] AlexGStapleton opened #204 "Investigate structured data support for pages"
[Slack Reference](https://siteorigin.slack.com/archives/support/p1478688805000222).

We should add structured data support for pages. Currently, JSON-LD looks to be the best option (as it's super simple) but it may not be compatible with older formats. This is a big deal as it absolutely has to be able to mix and match between the two due to plugins users will use.

If JSON-LD is off the table, We

[2016-11-09 17:33] Misplon commented on #204
@gregpriday confirmed JSON-LD would fall under plugin territory.

[2016-11-09 18:25] Misplon commented on #204
Looking into a plugin for this.

[2016-11-09 18:34] Misplon commented on #204
Tried this but see now no author reference: https://wordpress.org/plugins/wp-seo-structured-data-schema/.

[2016-11-10 03:00] AlexGStapleton opened #205 "Page Settings doesn't work on WooCommerce shop page"
[As per this comment](https://github.com/siteorigin/vantage/pull/202#issuecomment-259589708), page settings on the WooCommerce shop page doesn't do anything. You have to instead rely on the page template settings in the customizer.

[2016-11-10 08:00] #205 closed

[2016-11-14 13:19] #204 closed

[2016-11-22 10:16] AlexGStapleton opened #207 "Vantage Social Widget: Change GitHub button to darkish grey"
GitHub is commonly associated with a greyish background (when presented with one) rather than the currently blue icon. We should change the GitHub background to reflect this.

Current:
![](https://i.imgur.com/HWPBGjI.png)

Example: https://lipis.github.io/bootstrap-social/

[2016-11-22 10:21] AlexGStapleton commented on #207
Actually. Maybe a light grey button with a dark grey icon would be better? Kind of like logo itself.

[2016-12-06 10:21] #207 closed

[2016-12-06 10:24] #196 closed

[2016-12-20 06:13] AlexGStapleton opened #211 "Meta Slider: Account for differnt WPML sliders"
Okay so with the recent change to resolve #148, it's not possible to set sliders for different languages for the homepage.

[2016-12-20 08:30] Misplon commented on #211
Hey man, unfortunately not, this is a hard limitation. We arrived here after sorting out several other sync. issues between the page setting sending info to the Customizer.

[2016-12-20 08:40] Misplon commented on #211
Cool, docs updated.

[2016-12-20 09:47] AlexGStapleton commented on #211
Ah, fair enough.. I'll point the user in the direction of the docs. 👍

[2016-12-20 09:47] #211 closed

[2016-12-20 09:48] Misplon commented on #211
Sweet. So TLDR is we're falling back on adding the slider with Page Builder and then using Page Settings to handle the gap below the menu.

[2017-01-23 17:59] Misplon commented on #8
@adiraomj, @AlexGStapleton  has found some additional information on the browser changes that lead to this issue. I've asked him to update this issue/ticket so we can look into it further. Once he posts with those links and feedback, please, could you take another look for us. Thanks :)

[2017-01-24 04:25] AlexGStapleton commented on #8
To me, It looks like the scroll position isn't being updated until release** as if you scroll without letting go things won't update until you release. Would something [like this work](http://www.devinrolsen.com/basic-jquery-touchmove-event-setup/)?

(not the code itself, the [touchmove event](https://developer.mozilla.org/en-US/docs/Web/Events/touchmove))

** Although this may be intentional base

[2017-01-24 12:51] Misplon commented on #8
Great, thanks for the links. @adiraomj, could you perhaps, take another look at this for us? Alex dropped two links above that may be of help.

[2017-02-19 23:31] fitrizulkarnain opened #213 "Add link to the box author"
How to add link to the box author on last post content template? If I click the author image (profile photo’s), we redirect to their profile URL. How to I applying this issue?
![author box](https://cloud.githubusercontent.com/assets/25887494/23107787/9d8ffdac-f73e-11e6-8c8a-1b1ece006840.jpeg)

[2017-02-20 18:44] AlexGStapleton opened #214 "Scroll to Top functionality on mobile is directly tied to mobile menu"
Is there a specific reason why the scroll to top functionality needs to be tied directly to the menu?([Refernece in code](https://github.com/siteorigin/vantage/blob/develop/js/jquery.theme-main.js#L21) - specifically the isMobileNav check) I can see quite a few instances where user's may wish to not have a menu (in favor of a custom menu widget for example) but still wish to retain the scroll to t

[2017-02-20 18:59] Misplon commented on #214
This conditional hasn't been updated after the new masthead widget area was added. We can update it.

[2017-03-10 17:52] AlexGStapleton opened #215 "FireFox 52: Scroll to top disappears when it should be visible"
FireFox 52 (the latest version) is having issues with how we handle the scroll to top button. Basically, on initial scroll, it'll display correctly and then disappear.

Can be replicated on [demo site](https://demo.siteorigin.com/vantage/).

![](https://i.imgur.com/60BzV9N.gif)

[2017-04-18 11:54] AlexGStapleton opened #216 "WooCommerce: Add Gallery spacing"
The WooCommerce lightbox is working now after c3795558c60d6946c5c086ca536fde33a9ac2681 but the padding previously applied to WooCommerce gallery images is no longer present. I suspect WooCommerce changed how it's structured so our old CSS no longer works with it.

![](https://i.imgur.com/8a7PTra.png)

[2017-04-19 09:33] Misplon commented on #216
Ahh I only added the margin below the main image, didn't test with a full gallery. Will resolve.

[2017-04-20 15:01] Misplon commented on #216
https://github.com/siteorigin/vantage/commit/846a108e61f4e3ab9006711c6e07500987f2e3e0

[2017-04-20 15:01] #216 closed

[2017-05-09 08:14] gregpriday commented on #215
This is fixed in Firefox 53 and 54 (beta) on Windows.

[2017-05-09 08:14] #215 closed

[2017-05-09 09:22] AlexGStapleton opened #217 "Ability to sticky entire site header"
This is an infrequent request but it's been picking up lately. With the "new" masthead widget area, certain user's are looking to sticky the entire header (being the menu and masthead area). It also appears as though certain users are replacing the default menu with a custom menu widget (or equivalent).

[2017-05-09 09:33] Misplon commented on #217
@gregpriday We need an update to the settings framework to allow a checkbox to be migrated to a drop-down. We briefly touched on this last year I think. Any idea how long that would take?

[2017-05-14 08:55] Misplon commented on #213
https://github.com/siteorigin/vantage/commit/4092de741d2c8b9e91a8da5de96c4f1fe96feeb8

[2017-05-15 16:43] #213 closed

[2017-05-30 06:54] AlexGStapleton opened #219 "Custom Home Page: Certain row design settings aren't saved / removed upon save"
Most row style design settings aren't saved when using the custom home page functionality. The settings that aren't saved are the background image, background image display, and border colors. These settings are removed if they were set via the full editor. I suspect this issue is related to the legacy theme settings group and the 2.5 update.

[2017-05-30 08:40] Misplon commented on #214
@AlexGStapleton https://github.com/siteorigin/vantage/commit/991a97fb9a4f2d7e18f857c66dd0e0692b0cf22c

Cool?

[2017-05-30 11:14] AlexGStapleton commented on #214
Yep! 👍  :)

[2017-05-30 11:14] #214 closed

[2017-06-05 07:29] Misplon opened #220 "Header Search: Close the header search with the escape key"
Add the ability to close the header search with the escape key. @adiraomj Perhaps you can handle this one for us.

[2017-06-05 07:30] Misplon commented on #219
@adiraomj We, ideally, need to try sort this one out. Greg is a bit locked down at the moment. He's usually the one to take care of these legacy challenges. Perhaps you'd be keen to take a look and see if you can spot the issue?

[2017-06-06 05:07] adiraomj commented on #219
I'll work on this later today. :)

[2017-06-06 07:58] Misplon commented on #219
Awesome, thanks :)

[2017-06-12 17:38] AlexGStapleton opened #221 "PB 2.5: Full Width Gutters will have spacing to the left and right of the row"
As of SiteOrigin Page Builder 2.5, rows set to full width with gutters will have a gutter applied to the left and right of the row (specifically half of the gutter).

[This can be seen here](http://alex.siteorigin.net/vantage-gutter-issue/).
![](https://vgy.me/dcgvrx.png)

[Slack Chat](https://siteorigin.slack.com/archives/C02SXRL8N/p1497284502419355).

[2017-06-14 08:12] Misplon commented on #203
Closing for now.

[2017-06-14 08:12] #203 closed

[2017-06-15 12:48] #220 closed

[2017-06-21 13:02] AlexGStapleton opened #223 "Mobile Menu: links without a href set should open the child menu rather than close mobile menu"
If I add a menu item and leave the href blank, an <a> without a href will be created in the menu item. Currently, we close the menu when this is clicked but we should instead check if a sub menu is present and open that instead.

[2017-06-21 21:54] troppuissant opened #224 "Question about the Circle Widget"
Hi,

I was questioning if there is someone that can make you add a link to a circle widget without "more url' link.. So that the icon and title are clickable.
If someone could help me out with that would be great!

Thanks in advance!

[2017-06-22 08:17] Misplon commented on #224
Hi @troppuissant. If you have the SiteOrigin Widgets Bundle plugin installed you can rather use the SiteOrigin Features Widget. It will let you add a More URL with no More Text. Enable the options Link feature title to more url and link icon to more URL. Those checkboxes are found at the bottom of the Features widget.

[2017-06-25 07:03] ibrossiter opened #225 "Vantage Logo Left Padding"
When using the logo in menu setting and switching to boxed, there is no logo left padding. In full width layout this occurs as you resize the screen

[2017-06-25 07:08] Misplon commented on #225
Nice find. Will fix tomorrow. Let us know if you run into anything else.
On Sun, 25 Jun 2017 at 9:03 AM ibrossiter <notifications@github.com> wrote:

[2017-06-25 08:28] ibrossiter opened #226 "Blog post featured images are blurry"
The featured image used for a post shows up blurry on both archive and single post page

[2017-06-25 08:28] ibrossiter commented on #226
Might need retina support

[2017-06-26 09:28] Misplon commented on #226
Try running [Regenerate Thumbnails](https://wordpress.org/plugins/regenerate-thumbnails/) and see if the issue resolves.

[2017-06-26 18:52] AlexGStapleton commented on #221
Okay, I figured this out while looking at a similar issue for Virtue Premium ([reference](https://siteorigin.com/thread/wrong-space-between-cells/)). This is happening due to [this clearfix](https://github.com/siteorigin/vantage/blob/1.6.2/less/widgets.less#L739), which results [in this](https://github.com/siteorigin/vantage/blob/1.6.2/style.css#L3078) [and this](https://github.com/siteorigin/vant

[2017-06-29 12:39] Misplon commented on #226
@ibrossiter Let me know how this went. Thanks.

[2017-06-29 12:57] Misplon commented on #224
Closing. Let me know if you have any follow-up questions. Cheers :)

[2017-06-29 12:57] #224 closed

[2017-06-29 12:58] Misplon commented on #8
@AlexGStapleton Trying to prioritise. If this isn't being raised often as an issue, let's close it. Let me know or just close if happy to do so. Thanks mate.

[2017-06-29 13:20] #225 closed

[2017-06-29 13:39] #109 closed

[2017-06-29 13:43] Misplon commented on #223
@adiraomj Can you, please, hit this one for us. Thanks :)

[2017-06-29 13:44] Misplon commented on #136
@adiraomj Want to tackle with #223 at the same time? Thanks dude :)

[2017-06-29 13:50] Misplon commented on #217
@AlexGStapleton Ok, we can't count on a Settings Framework update for this one. I wanted the option to migrate a checkbox to a drop-down. Let's figure out a way of using the settings we have to do this. Any suggestions for how to lay the settings out?

[2017-06-29 13:52] Misplon commented on #178
@AlexGStapleton is this resolved?

[2017-06-29 13:55] Misplon commented on #219
Closing. We'll resolve via https://github.com/siteorigin/siteorigin-panels/issues/441.

[2017-06-29 13:55] #219 closed

[2017-06-29 15:32] AlexGStapleton commented on #8
I'm happy to do this at this time. Oddly, this rarely comes up anymore.

[2017-06-29 15:32] #8 closed

[2017-06-29 16:05] AlexGStapleton commented on #178
No, this issue is still occurring.

[2017-06-29 16:07] Misplon commented on #178
Sweet. @adiraomj, please, could you check this one out for us. Thanks.

[2017-06-29 16:08] AlexGStapleton commented on #217
The only real option I can think of is to add a new checkbox. 😕
Can we add a checkbox that conditionally shows depending on another setting? If so, that would be ideal.

[2017-06-30 12:45] Misplon commented on #217
No conditional settings in Customizer. Greg wrote our own conditional settings function a while back but it broke with a WP update so we're leaving that.

Ok, let me have a look at the best way to lay this out.

[2017-06-30 12:55] Misplon commented on #145
Resolved via https://github.com/siteorigin/vantage/commit/e18bc123a0e2c9852f5cf5bb27c58b6a42b3adb7. Let me know if that works for you @AlexGStapleton

[2017-07-01 05:25] Misplon commented on #226
@ibrossiter Quick check here when you can. Thanks pal. Trying to thin this list out a bit.

[2017-07-01 06:26] ibrossiter commented on #226
Hey Andrew. I used Regen and still blurry.

[2017-07-01 07:33] Misplon commented on #226
Cool please send a URL I can check. Shot
On Sat, 01 Jul 2017 at 8:26 AM ibrossiter <notifications@github.com> wrote:

[2017-07-05 09:48] AlexGStapleton opened #227 "WP Logo Set and No Widget Overlay issue"
If the logo is set through WP Logo functionally **(WP Admin > Appearance > Customize**, **Site Identity**) and **No Widget Overlay** is enabled, and there's a widget in either the Header or Masthead widget area, JS errors will result due to [No Widget Overlay looking for a different structure](https://github.com/siteorigin/vantage/blob/develop/js/jquery.theme-main.js#L392).

![](https://i.imgur.co

[2017-07-05 11:21] Misplon commented on #227
@adiraomj Please, can you attend to this one for us.

[2017-07-10 08:56] Misplon opened #228 "Add WooCommerce Mini-Cart"
Add a WooCommerce Mini-Cart. @adiraomj @AlexGStapleton Where do you guys want to add this? To the header area or the main menu or both as an option?

[2017-07-10 09:03] AlexGStapleton commented on #228
By header area, do you mean widget?

[2017-07-10 09:04] Misplon commented on #228
Yes, or next to the header text. Being that it has a full size header the menu isn't the only logical place for the mini-cart.

[2017-07-10 09:10] AlexGStapleton commented on #228
Hm. It might be easier for us to create a widget and then recommend something like [Widgets in Menu for WordPress](https://wordpress.org/plugins/widgets-in-menu/) for adding it to the menu.

[2017-07-10 09:11] Misplon commented on #228
I want to have a mini-cart option in Vantage that is a single checkbox. Done. Added.

[2017-07-19 07:53] AlexGStapleton opened #229 "Logo set through Custom Logo isn't as responsive as logo set through Theme Settings"
The CSS in the theme to allow for the logo to be responsive on mobile devices isn't applied to the logo if it's added as a custom logo.

Custom Logo (Site Identity):
![](https://i.imgur.com/KfvmLXY.png)

Theme Settings Logo:
![](https://i.imgur.com/nz24ewK.png)

[2017-08-09 15:23] Misplon opened #231 "Comment submit button not working on first click in Safari"
The comment submit button isn't working on the first click in Safari.

[2017-08-28 06:02] AlexGStapleton opened #232 "Update Font Awesome to 4.7"
Vantage includes version 4.6.2 of Font Awesome, which is [two versions behind the latest version](https://github.com/FortAwesome/Font-Awesome/releases).

[Requested here](https://siteorigin.com/thread/will-vantage-be-updated-for-font-awesome-4-7-2/).

[2017-08-28 20:08] Misplon commented on #232
https://github.com/siteorigin/vantage/commit/c4d234f00032dc7694d577bde87a8beb523726b4

[2017-08-28 20:08] #232 closed

[2017-09-03 15:11] tomhemsley opened #233 "Mobile Nav HTML applied to Max Mega Menu Instances"
In functions.php there is a quick check to make sure Max Mega Menu is not enabled on the Primary menu location before the mobilenav.php file is included. This works as expected when MMM has been enabled for the main menu.

However, if the user has created a _new_ menu location to use Max Mega Menu with, but _not_ enabled MMM on the Primary location, the mobilenav.php functionality is included and

[2017-09-05 12:26] ibrossiter commented on #226
http://vantage-demo.packs.siteorigin.com/blog/

[2017-09-05 12:27] ibrossiter commented on #226
Blurry on Retina Display

[2017-09-05 17:03] Misplon commented on #226
@ibrossiter Please, can you try adding an image twice the size but still inserting Medium or Large and let me know if the issue resolved. Thanks.

[2017-09-06 20:11] Misplon commented on #233
Resolved in https://github.com/siteorigin/vantage/commit/b251c524a22f075f1c1d63ca4e5a16242d4bc966.

[2017-09-06 20:11] #233 closed

[2017-09-06 20:11] Misplon commented on #233
Thanks Tom, will update the theme ASAP. Appreciate your feedback on this.

[2017-09-08 08:15] tomhemsley commented on #233
Great, thanks Andrew!

[2017-09-08 08:16] Misplon commented on #233
For sure :) Thanks again for your feedback.

[2017-09-10 18:45] ibrossiter commented on #226
the original featured images was 1920 x 1307. I then uploaded the full image at 4700 x 3200. Still no difference.

[2017-09-10 18:46] ibrossiter commented on #226
http://vantage-demo.packs.siteorigin.com/blog/

[2017-09-10 19:37] Misplon commented on #226
Thanks. Will take a look tomorrow.

On Sun, 10 Sep 2017 at 20:46 ibrossiter <notifications@github.com> wrote:

[2017-09-11 08:28] AlexGStapleton opened #234 "Move sticky menu functionality away from JavaScript"
We should move (read: redo) the sticky menu functionality to the same as Unwind and North. My reason for this is that the sticky menu functionality has noticeable delays on lower end devices and in IE/Edge.

![](https://vgy.me/oMFrD6.gif)

[2017-10-19 15:03] AlexGStapleton opened #236 "Meta Slider set on Blog Archive doesn't work"
For whatever reason, if you set a Meta Slider for the blog page it won't show.

([Slack Reference](https://siteorigin.slack.com/archives/C02T5GSNA/p1508395099000096))

[2017-11-17 12:39] AlexGStapleton opened #237 "No autofocus of search field on iOS"
The search field doesn’t get autofocus on iOS Chrome and Safari. This results in a bar appearing upon clicking the search button but the user will still have to manually click the field to bring up the keyboard.

This doesn't happen with Chrome on Android.

[2017-11-24 10:43] Misplon opened #238 "Integrate Smart Slider"
@adiraomj We're looking to replace Meta Slider as our primary integrated slider plugin. Smart Slider will be our new focus. The page meta box that currently pulls installed sliders must look for sliders added to both Smart and Meta Slider, the same for the Customizer field.

[2017-11-30 03:53] AlexGStapleton opened #240 "Customizer: Duplicate Menu on adjustment"
If you make adjustments to menu, the menu will be duplicated. This happens at all menu levels.

Reference GIF:
![](https://i.imgur.com/H13Hel6.gif)

I've checked our other themes and this issue doesn't occur.

[2017-11-30 11:09] Misplon commented on #240
@adiraomj Could you perhaps take a look for us?

[2017-12-15 00:54] #236 closed

[2017-12-15 01:02] #229 closed

[2017-12-20 03:24] Misplon opened #243 "Fix MetaSlider display on home page set to latest posts"
@adiraomj. At the moment, in `develop`, the MetaSlider doesn't display if the home page is set to display latest posts. This happened when we made the following update: https://github.com/siteorigin/vantage/pull/241.

[2018-02-05 03:09] AlexGStapleton opened #245 "Demo Slider CSS conflicting with Meta Slider flex CSS"
It looks like Meta Slider has changed something in a recent update that conflicts with the demo slider CSS.
Specifically, the issue here is that the Meta Slider Flex slider next arrow is reversed due to [this CSS](https://github.com/siteorigin/vantage/blob/develop/less/slider.less#L151) in the slider css.

![](https://i.imgur.com/ppPFDoW.png)

[2018-02-09 15:01] Shelob9 opened #246 "PHP warning when installing recommended plugins"
`Warning: sprintf(): Too few arguments in /app/wp/wp-admin/includes/class-bulk-upgrader-skin.php on line 150`

![screen shot 2018-02-09 at 10 00 38 am](https://user-images.githubusercontent.com/1994311/36033883-2d80c560-0d80-11e8-8011-3fb5549d3276.png)

[2018-02-09 16:38] AlexGStapleton commented on #246
[code]

[2018-02-09 16:43] AlexGStapleton commented on #246
Related: https://github.com/TGMPA/TGM-Plugin-Activation/pull/670

Seems to be fixed in an update to TGM but as far as I can tell that version hasn't been released. I know it's not ideal, but it may be a good idea to edit the files and apply the patches directly. Thoughts @Misplon?

[2018-02-09 16:54] Misplon commented on #246
Thanks for the heads up @Shelob9. Appreciate it :) We'll update TGM as soon as they push the release.

[2018-02-26 09:17] #243 closed

[2018-03-06 10:29] AlexGStapleton opened #247 "Introduce Jetpack Portfolio Support"
We should introduce Jetpack Portfolio Support in a future update.

[Requested here](https://siteorigin.com/thread/vantage-theme-portfolio-support/)
[Slack](https://siteorigin.slack.com/archives/C02T5GSNA/p1520316775000028)

[2018-03-07 06:36] adiraomj commented on #231
@Misplon can you please check if this is still an issue. Its working fine at my end with Safari.

[2018-03-07 06:37] Misplon commented on #231
Checking now...one moment.

[2018-03-07 06:37] #231 closed

[2018-03-07 06:38] Misplon commented on #231
Problem no longer present.

[2018-03-07 06:39] Misplon commented on #226
@adiraomj I briefly looked at this challenge. Any chance you'd want to take this on? Adding a larger featured image size for high definition displays.

[2018-03-11 10:41] #245 closed

[2018-03-11 10:41] #238 closed

[2018-03-17 23:32] Misplon opened #249 "Sliders: Re-write functionality for lower PHP 5 comptability"
@braamgenis Sorry, I tested down to `5.6.32` and it wasn't enough.

`PHP Fatal error: Can’t use function return value in write context in /vantage/inc/sliders.php on line 112`

`5.2.4` is the lowest version in the [spec](https://wordpress.org/about/requirements/).

Further explanation in [Slack](https://siteorigin.slack.com/archives/C02T5GSNA/p1521327776000064).

Thanks.

[2018-03-19 13:49] #249 closed

[2018-03-20 15:23] MiGzY commented on #246
In the meantime..
Warning: sprintf(): Too few arguments in \wp-admin\includes\class-bulk-upgrader-skin.php on line 150

Had to fix with:
Old Code:
if ( $this->result && ! is_wp_error( $this->result ) ) {
if ( ! $this->error ) {
echo '

' .
'
' . sprintf( $this->upgrader->strings['skin_update_successful'], $title ) .
' ' . __( 'Show details.' ) . '' .
'

';
}
echo '<script type="text/javascript">jQ

[2018-03-29 17:45] Misplon opened #251 "Post Format Image: When no image present, notice presented"
When the Image post format is selected and no image is present, the following notice is presented.

`Notice: Undefined offset: 0 in /Users/andrew/Dropbox/Sites/siteorigin/wp-content/themes/vantage/inc/template-tags.php on line 683`

This is the same notice presenting in Unwind. https://github.com/siteorigin/siteorigin-unwind/issues/225

[2018-04-02 08:51] #136 closed

[2018-04-16 09:26] #237 closed

[2018-04-25 15:18] Misplon opened #255 "Sliders JS file missing from production build"
`/inc/sliders/js` is empty in the production build.

[2018-04-25 15:23] #255 closed, assigned to nobody

[2018-05-07 08:13] #251 closed

[2018-05-07 12:55] #221 closed

[2018-05-07 17:18] Misplon opened #259 "Jetpack Infinite Scroll: Add complete support"
- All post loops.
- WooCommerce

[2018-05-11 08:38] #226 closed

[2018-07-26 16:16] AlexGStapleton opened #264 "Build issue with pot file: directory incorrectly named as vantage.pot"
There's an issue with the build system that is resulting in the Vantage language directory `vantage/languages/` to be incorrectly named. Instead of just `vantage`, it's called `vantage.pot`.

![](https://i.imgur.com/wcbk9D9.png)

@Misplon tried a release build test and the same issue occurred again. We also checked Corp and this issue wasn't occurring for that theme so it's unlikely (but still pos

[2018-07-27 09:08] braamgenis commented on #264
@AlexGStapleton @Misplon Could you guys try the following:

1. Delete the `node_modules` folder in the `build` folder in vantage.
2. Run `npm install` in the `build` folder.

Then try do another build.

[2018-07-27 17:20] Misplon commented on #264
Thanks @braamgenis, I'll get on that this evening and push an update for Vantage as soon as I'm done.

[2018-07-27 18:48] #264 closed

[2018-08-03 14:43] boyod opened #268 "mobile menu"
after the upgrade to the latest version, the mobile menu in live editor stopped working and the part of the localization is missing

[2018-08-04 11:10] Misplon commented on #268
Hi @boyod

Thanks for reaching out.

Page Builder is injecting `pointer-events: none;` into the menu link and the scroll to top link which is the cause of this in the Live Editor. I'll chat with the team and get back to you with feedback.

Which localization are you missing?

[2018-08-05 15:43] boyod commented on #268
russian localization are  missing partially

[2018-08-05 15:45] Misplon commented on #268
Are you referring to the theme's .pot file? Which strings, in particular, are missing?

[2018-08-05 15:52] Misplon commented on #268
If strings are missing in https://themes.svn.wordpress.org/vantage/1.7.9/languages/vantage.pot, that's definitely something I can take a look at.

From the translation side, Vantage isn't completely translated into Russian, you can see the progress ,and contribute if you'd like to, here: https://translate.wordpress.org/projects/wp-themes/vantage/ru/default

[2018-08-05 16:12] boyod commented on #268
not translated: "Edit History" "Theme settings>" "Theme Design>" "Page Template Settings>"

[2018-08-06 08:41] Misplon commented on #268
Thanks again for posting. We rolled back to the previous version of Vantage and the mobile menu and back to top links also don't work in the Live Editor. I've chatted with our lead Page Builder developer, the reason these links are disabled is to prevent the user from accidentally navigating away from the page being worked on. Unlike the Customizer, the Live Editor is linked to the particular page

[2018-08-07 18:01] Misplon opened #269 "Add current menu item class to mobile menu"
Add a current menu item class to the mobile menu.

[2018-09-05 19:43] #268 closed

[2018-09-06 10:12] Misplon opened #271 "Missing Font: Catamaran in font list not showing in drop-down"
The Google Font Catamaran is showing in the `fonts.php` file but missing from the drop-down selection in in the Customizer.

[2018-09-06 14:24] Misplon opened #272 "Home Page Slider: Not displaying of no static front page set"
If no static front page is set, the home page slider isn't displaying.

[2018-09-06 14:45] Misplon commented on #272
Resolved via: https://github.com/siteorigin/vantage/commit/406105cff104a6ad8bfa9cb9b45e3cf2b08bddad.

[2018-09-06 14:45] #272 closed

[2018-09-11 09:17] Misplon commented on #271
@AlexGStapleton I don't have any ideas mate. Can you take a look?

[2018-09-11 15:53] #271 closed

[2018-10-12 14:56] Misplon opened #276 "Logo In Menu: Only hide the search icon once we've reached the breakpoint"
Only hide the search icon when using Logo in Menu when we've reached the mobile menu breakpoint.

[2018-10-13 09:52] Misplon commented on #276
Resolved via https://github.com/siteorigin/vantage/commit/375aa36cbf44e240641714dbdb239879c46eb6e7.

When using the default masthead, we aren't removing the nav search for mobile. I'm not quite sure why that is. This change makes logo-in-menu behavior the same as the default nav.

[2018-10-13 09:52] #276 closed

[2018-10-19 18:28] Misplon opened #277 "Logo in Menu site title is outputting in Customizer CSS at 0"
Logo in Menu Customizer CSS is outputting at 0px in certain instances.

[2018-10-20 09:54] Misplon commented on #277
@AlexGStapleton Can you see what's up here?

https://github.com/siteorigin/vantage/blob/develop/inc/customizer.php#L729-L737

If the Site Title Font Size isn't changed and saved, the Customizer is outputting this rule at `0px`.

`<style type="text/css" id="customizer-css">#masthead .hgroup h1, #masthead.masthead-logo-in-menu .logo > h1 { font-size: 21px } a.button, button, html input[type="button"

[2018-10-22 08:31] #234 closed

[2018-10-26 09:42] #277 closed

[2018-11-28 18:28] braamgenis opened #285 "Duplicated menu in customizer"
Similar to #240, but not exactly the same.

Steps to reproduce:

- Open customizer with Vantage active
- Make any change which causes the customizer preview to refresh.
- Two menus are rendered.

[2018-12-26 06:21] AlexGStapleton opened #286 "Akismet: Custom Home Page Row Background isn't able to be saved"
When Akismet is activated, Custom Home Page Row Background isn't able to be saved. This issue doesn't occur on any other SiteOrigin theme that includes the Custom Home Page functionality.

[2018-12-27 18:32] #286 closed

[2019-01-13 13:05] Misplon opened #288 "Search Results: Change featured image to match the default blog layout"
Change the search results featured image to match the default blog layout:

`set_post_thumbnail_size( 720, 380, true );`

[2019-01-13 13:06] Misplon opened #289 "Search Results: Add a theme setting to set the search results layout"
Add a theme setting to set the search results layout.

[2019-02-04 15:21] Misplon opened #290 "Archive Featured Image: Add an option to remove"
Add an option to remove the archive featured image.

Featured Image Type > None.

[2019-02-04 15:23] Misplon opened #291 "Tables: Add table cell padding"
Assess and add table cell padding as required.

[2019-02-05 16:48] Misplon commented on #290
https://github.com/siteorigin/vantage/pull/292

[2019-02-11 09:18] Misplon commented on #291
<img width="933" alt="vantage-table" src="https://user-images.githubusercontent.com/789159/52554203-be51a980-2dee-11e9-9be1-041815068fcd.png">

Above is how tables are formatted at the moment. I don't want to alter existing designs so I'm going to leave this.

[2019-02-11 09:18] #291 closed

[2019-02-14 08:57] Misplon opened #294 "Site Description: Add an option to display the site description/tagline"
Add a default disabled option to display the site description/tagline below the logo.

[2019-02-21 15:43] ivanbuncic opened #299 "CSS Grid - Flexbox support?"
Hi guys/gals,

I really love Vantage theme!

What is your timeline look like, how about adding CSS Grid or Flexbox support to this marvelous theme.
Did you even consider it?

Thanks!

[2019-02-22 10:29] Misplon commented on #299
Hi Ivan

Thanks for reaching out :)

Our Page Builder plugin uses Flexbox. Unfortunately, at there moment there aren't any plans to add CSS Grid or Flexbox natively to Vantage.

Sorry, I don't have better news. All the best.

[2019-02-24 10:02] #299 closed

[2019-02-24 10:03] Misplon opened #300 "WooCommerce: Cart and Checkout container widths always constrained"
WooCommerce cart and checkout page widths are constrained regardless of whether a sidebar is displayed or not. If no sidebar is displayed the primary container should be allowed to be full width.

[2019-03-11 11:57] Misplon opened #301 "Vantage Mobile Menu: Allow GTranslate to add flags to the mobile menu"
The following aren't able to add content to the mobile menu:

GTranslate flags
https://wordpress.org/plugins/shortcode-in-menus/
https://wordpress.org/plugins/widgets-in-menu/

It would be helpful for users to keep their menu flags in the mobile menu once added to Appearance > Menus.

[2019-03-14 14:43] #301 closed

[2019-03-15 11:46] WimSchol opened #303 "Problem with coloms in Echo knowledge Base"
I have a problem with the allignment of coloms in Knowledge Base plugin. Below i get an answer on my mail to them. Would you check if it right? thx. After deactivating PageBuilder problem is solved....
Wim

Answer of Echoplugins/Knowledge Base

Hi Wim,
I am sorry for the trouble you are having. I had a look at your website and I discovered that something is injecting paragraph tags between our kno

[2019-03-15 12:36] Misplon commented on #303
Hi Wim, please send a link to the page concerned on your site. Thanks.
On Fri, Mar 15, 2019 at 1:46 PM WimSchol <notifications@github.com> wrote:

[2019-03-15 12:37] Misplon commented on #303
Sorry. I see the links in the email. Sure, we can take a look a bit later.
Cheers.
On Fri, Mar 15, 2019 at 2:36 PM Andrew Misplon <amisplon@gmail.com> wrote:

[2019-03-17 11:35] Misplon opened #305 "Display site title alongside logo: doesn't work with Custom Logo"
Display site title alongside logo setting doesn't work with the core logo.

[2019-03-17 16:05] Misplon opened #306 "Customizer: Expand Customizer settings to allow for description"
Expand the old framework at `/inc/customizer/customizer.php` to allow Theme Design settings to add a `description`.

Perhaps `if ( !isset($setting['description']) ) $setting['description'] = '';` added to `customize_register` and then `'description' => $setting['description'],` added to each case in the switch statement?

[2019-03-17 16:19] Misplon opened #308 "If only Site Identity logo set, empty a tag is printed"
If only the Site Identity logo is set, an empty `a` tag prints.

![SiteOrigin_–_Just_another_WordPress_site](https://user-images.githubusercontent.com/789159/54494285-28270c80-48e1-11e9-90e0-35474782fdf5.png)

[2019-03-17 17:08] #294 closed

[2019-03-17 17:17] #300 closed

[2019-03-22 09:56] #306 closed

[2019-04-05 10:19] Misplon commented on #303
Migrated to: https://siteorigin.com/thread/problem-with-pagebuilder/. Thanks.

[2019-04-05 10:19] #303 closed

[2019-04-05 10:20] Misplon opened #311 "Add wp_body_open hook after WP 5.2 release"
Add `wp_body_open` after the WP 5.2 release.

[2019-04-14 11:02] Misplon opened #312 "Update the Google Fonts array"
Update the Google Fonts array. Ensure the following fonts are available after doing so:

[code]

[2019-04-25 09:57] Bitmaudit commented on #246
Warning: sprintf(): Too few arguments in class-profile-magic-admin.php on line 192

[2019-04-25 18:28] AlexGStapleton commented on #246
Hi @Bitmaudit ,

I'm sorry that you've experienced this issue. We can't seem to replicate this issue at the moment. Can you please clarify what version of PHP, WordPress, and Vantage you're using?

[2019-05-05 10:08] #308 closed

[2019-05-10 13:11] Misplon opened #315 "Introduce an RTL stylesheet"
Introduce an RTL stylesheet. Requesting user is initially looking for the header alignment to be resolved.

[2019-05-14 06:35] #315 closed

[2019-05-22 08:55] #311 closed

[2019-05-22 09:36] Misplon commented on #305
Can't replicate anymore.

[2019-05-22 09:36] #305 closed

[2019-05-22 09:37] Misplon commented on #288
Closing in favor of https://github.com/siteorigin/vantage/issues/289.

[2019-05-22 09:37] #288 closed

[2019-05-22 09:40] Misplon commented on #227
@AlexGStapleton I'm unable to replicate at this time, please can you confirm and close if I'm correct. Thanks.

[2019-05-22 10:13] AlexGStapleton commented on #227
I can't seem to replicate this either anymore. I also haven't received any reports of this happening lately. This must have been indirectly fixed at some stage.

[2019-05-22 10:13] #227 closed

[2019-05-22 20:00] #312 closed

[2019-05-23 17:41] #139 closed

[2019-06-11 15:39] AlexGStapleton opened #317 "Add dedicated Tagline color setting"
We should introduce a dedicated tagline color. The standard masthead tagline is dark while the Logo in Menu tagline color is grey. This can be problematic if the user changes the menu or masthead background color.

[2019-06-18 08:37] Misplon opened #319 "WooCommerce: Remove double mobile padding"
`#main` is used twice causing double padding on mobile.

[2019-07-11 11:11] Remzi1993 commented on #240
@Misplon Is this fixed?

[2019-07-11 11:17] Remzi1993 commented on #246
@Misplon Did you update TGMPA? I suggest to use the latest develop version: https://github.com/TGMPA/TGM-Plugin-Activation (it's stable and fixes some things)

[2019-07-11 19:03] AlexGStapleton commented on #246
@Remzi1993 Thanks for the heads up. We'll try the development version of TGMPA shortly.

[2019-07-11 19:04] AlexGStapleton commented on #240
Hi @Remzi1993,

Unfortunately, this issue is still affecting the customizer. Please note that this issue doesn't affect the menu outside of the customizer.

[2019-07-12 07:04] Remzi1993 commented on #240
That's very unfortunate @AlexGStapleton

[2019-07-21 15:09] #289 closed

[2019-07-21 15:10] #317 closed

[2019-07-21 15:10] #319 closed

[2019-07-21 15:33] Misplon commented on #246
Resolved via https://github.com/siteorigin/vantage/pull/323.

[2019-07-21 15:33] #246 closed

[2019-07-22 06:07] #269 closed

[2019-07-31 08:34] gregpriday commented on #285
I can't seem to recreate this. Is it still any issue. @Misplon or @AlexGStapleton - can either of you check?

[2019-07-31 08:35] gregpriday commented on #240
I've recreated this on my side. Taking a look now.

[2019-07-31 08:54] Remzi1993 commented on #240
@gregpriday Thank you very much!

[2019-07-31 10:14] gregpriday commented on #240
I've managed to track down the cause of this. It came about because of a change to how the Customizer dynamically replaces a navigation menu (without doing a full page refresh). The method it's using isn't compatible with how Vantage's mobile navigation works.

It seems like the Customizer is deleting the last instance of the menu it sees in the DOM, which in the case of Vantage is the hidden mobi

[2019-07-31 10:35] Misplon commented on #285
I can't replicate this. Changing the Layout Bound setting definitely forces a refresh, I'm not seeing a duplicated menu. @AlexGStapleton ?

[2019-07-31 11:45] AlexGStapleton commented on #285
I can't seem to replicate this either.

[2019-07-31 11:47] Misplon commented on #285
Cool, let's close for the moment, if it comes up again, we can re-open.

[2019-07-31 11:47] #285 closed

[2019-07-31 21:11] braamgenis commented on #285
Heisenbug!

[2019-08-01 07:17] #240 closed

[2019-08-02 07:00] gregpriday commented on #259
@braamgenis Do you remember your work on https://github.com/siteorigin/vantage/commit/0a8644dd03d5f712c420e8a9eee76eb669034db1 well enough to implement this enhancement? I've had a look but I'm not quite following the logic well enough to implement this without breaking our existing Jetpack infinite scroll for the different blog layouts.

[2019-08-05 18:14] braamgenis commented on #259
@gregpriday Will take a look see. 👀

[2019-08-10 19:38] Misplon opened #327 "Add sidebar text size setting"
Add a setting for the sidebar text size.

[2019-08-12 22:14] #327 closed

[2019-08-15 18:15] Misplon opened #329 "Add a related posts feature"
Add a related posts feature as we have in Corp with YARPP and JP support.

[2019-08-27 16:41] Misplon commented on #145
I guess they've changed or removed the constant we were relying on.

[2019-08-27 18:49] Misplon commented on #145
Ahh we lost this when we introduce Smart Slider 3 support.

[2019-09-27 17:42] #329 closed

[2019-10-16 16:24] adamjayb opened #332 "1.14.1 Breaks Form Pages"
Hello,

For some reason, the latest update had caused the pages on my site with the Caldera Forms plugin to disappear entirely; that is to say, the page would load a blank page without a form and a Sidebar even though I have the page settings set to having No Sidebar.

I couldn't take the time to figure out what specifically was conflicting with the plugin and the Vantage theme as I needed to roll

[2019-10-16 17:09] Misplon commented on #332
Hi Adam

Thanks for reaching out.

The most recent Vantage update was very light on changes. The only notable update was changing the conditional from `Jetpack::is_module_active( 'related-posts' )` to `class_exists( 'Jetpack_RelatedPosts' )`. You can view the diff [here](https://github.com/siteorigin/vantage/compare/1.14...1.14.1). If you'd like to send me an export of one of your forms, I'd be ha

[2019-10-16 17:48] adamjayb commented on #332
Hi Misplon,

Thank you for the prompt response and demo.

In light of this, there is probably another conflict occurring that I am unaware of between another plugin, Caldera and the Vantage theme's latest update. I'll have to do some testing later to find the source. I'll post an update if I can find the issue.

[2019-10-16 17:49] Misplon commented on #332
Thanks, that'll be great.

Which version did you downgrade to?

[2019-10-16 17:53] adamjayb commented on #332
1.14

[2019-10-16 18:07] Misplon commented on #332
Thanks for the info.

When you upgrade again, enable debug, if there is an issue with the related
posts conditional, a notice or error should print.

On Wed, 16 Oct 2019 at 19:53, adamjayb <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-10-25 09:45] Misplon commented on #332
Hi Adam

How are things looking on your end? Anything we can assist with?

[2019-10-30 11:18] Misplon commented on #332
Feel free to reach out in the future if you need a hand. We normally work support queries on our [forum](https://siteorigin.com/thread) or via email if you're using SiteOrigin Premium. Thanks :)

[2019-10-30 11:18] #332 closed

[2019-10-30 20:19] adamjayb commented on #332
Hey Misplon,

Sorry for the delay, I still haven't had a moment to do any testing, but you can keep the issue closed for now and I'll give an update when I get to testing. Thanks!

[2019-10-30 20:24] Misplon commented on #332
Thanks for the update. For sure, we're here if you need help in the future. Cheers for now :)

[2019-11-07 16:58] AlexGStapleton opened #333 "Block Editor: Increase max-width of Blocks to Same Width as Theme Container"
We should increase the max-width of the Blocks in the Block Editor to be the same size as the content container to give users a better idea of how their page will look.

[Related doc](https://developer.wordpress.org/block-editor/developers/themes/theme-support/#changing-the-width-of-the-editor)

[2019-11-19 10:01] Misplon opened #335 "Footer column count: account for Polylang"
Polylang has a feature that allows users to create widgets that only display on certain languages for the site. When they do this though, Vantage assumes all the widgets are there and scales them incorrectly.

For example, if there are 2 English and 2 German widgets, Vantage assumes there are 4 widgets and displays them with 25% width. This has been reported a few times on the forums.

https://sit

[2019-11-21 19:00] Misplon opened #337 "Resolve logo in menu logo jump"
Try to resolve the jump that occurs when the logo in menu logo spacing is applied via JS.

[2019-11-25 09:06] #337 closed

[2019-11-27 19:16] AlexGStapleton opened #339 "Logo In Menu: Flexbox has broken menu alignment"
#338 has broken the Menu Alignment setting.

I was able to get the menu to center by using CSS:

[code]

[Reported here](https://siteorigin.com/thread/setting-menu-right-aligned-dont-take-effect/).

[2019-12-01 16:25] #339 closed

[2019-12-05 17:17] #145 closed

[2019-12-05 17:21] AlexGStapleton opened #342 "Home Page: If custom slider is set, demo slider will be shown"
This issue is related to #341

If a custom slider has been set for the home page, but the slider plugin powering that slider has been disabled, the demo slider will be shown instead of nothing.

[2019-12-06 01:54] jlp78 opened #343 "Improper placement of Site Title, Tag Line, and Logo"
I have a site that is using Vantage, and I would like to use the Site Title, Tag Line, and Logo in the site header.  Specifically, I would like the tag line to be below the site title, not below the logo.

Without the logo, the header looks like this:
![Without Logo](http://www.peterson-tech.com/~jlp/marc/header_without_logo.png)
When I add the logo, I get this:
![With Logo](http://www.peterson-te

[2019-12-07 09:27] Misplon commented on #343
Hi Jan

Thanks for reaching out.

If you're using SiteOrigin Premium, please, email support@siteorigin.com, we can assist with this request. Additional markup and styling will need to be added via a function to achieve the layout you're after. This change is, unfortunately, beyond our free support scope.

I agree this is probably how the header with logo and title should have been originally laid

[2019-12-07 09:41] Misplon commented on #342
**Sequence:**

Set Home Slider to None from page or Customizer setting.
Activated Smart Slider.
Set a home slider from page or Customizer setting.
Deactivated Smart Slider.

**Results:**

The page-level setting holds its None value.

<img width="217" alt="page" src="https://user-images.githubusercontent.com/789159/70372305-f8dc8380-18e5-11ea-9e3e-e6b619a66e8d.png">

The Customizer setting doesn't

[2019-12-07 14:30] Misplon commented on #343
Thanks for the wait. Unfortunately, due to the amount of time the tagline has output below the logo, I don't think we'll be making a change to the header layout. If we get further requests, we can certainly reconsider. If you'd like, within our premium support scope we can assist with reformatting the header as you've requested. It's a small custom development task. Sorry, we can't assist within o

[2019-12-08 03:50] jlp78 commented on #343
I understand.  I will look into the code to see if I can make the change in a compatible fashion.  If I do, would you be interested in a pull request?

Unfortunately, as my site is for a non-profit organization, we do not have the resources to sign up for SiteOrigin Premium at this time.

[2019-12-08 07:59] jlp78 commented on #343
I think I see where the problem is... the vantage_display_logo function outputs both the logo and the site title, but the site description is output separately.  I think I could add code to the vantage_display_logo function that would output the site description (i.e. tag line) instead of outputting it directly as part of the parts/masthead.php file.  I'd have to add a site option to turn this on

[2019-12-08 09:53] Misplon commented on #343
Hi Jan, thanks for your replies. At this stage, unless we receive a large
number of requests for this change, we’re unfortunately going to leave the
tag line in place under the logo. The challenge we face changing an item
location after many years is we’ll most likely disturb a large amount of
existing websites and users that are satisfied with their header layout as
is. Vantage is already quite s

[2019-12-09 09:14] #342 closed

[2019-12-23 17:32] #343 closed

[2019-12-23 17:34] Misplon opened #345 "Menu Alignment Setting: Update CSS to allow for no menu being assigned"
The menu alignment setting doesn't currently respond when a menu hasn't been assigned to the menu location due to the way the CSS was written for this setting.

[2019-12-27 12:07] #345 closed

[2019-12-30 18:27] Misplon opened #347 "Logo in Menu: Site title not display alongside logo"
<img width="1137" alt="Home_-_Vantage_Demo" src="https://user-images.githubusercontent.com/789159/71595042-d3d4dc80-2b42-11ea-9396-6dd7e5aac71e.png">

[2020-01-02 09:54] #347 closed

[2020-01-06 09:54] Misplon opened #349 "Check CSS reset compatibility with lightbox plugins"
Check the CSS reset in Vantage for compatibility with lightbox plugins, specifically when lightboxes disable scrolling.

[This line is the issue](https://github.com/siteorigin/vantage/blob/8cb23f3519b537a72e5af49937fd7931cdfb1243/less/reset.less#L75).

[2020-03-16 19:16] Misplon commented on #333
Resolved.

[2020-03-16 19:16] #333 closed

[2020-03-16 19:31] Misplon opened #351 "Update TouchSwipe jQuery Plugin"
Update TouchSwipe jQuery Plugin.

[2020-03-18 14:42] #351 closed

[2020-03-19 14:22] #349 closed

[2020-03-27 12:06] Misplon opened #353 "WooCommerce: Ensure Qty field is correctly formatted"
![WC](https://user-images.githubusercontent.com/789159/77754549-33ecf900-7034-11ea-8415-f1ef41a4d8b3.png)

[2020-04-14 10:36] Misplon opened #354 "Ensure all search results layouts are printing no posts found info"
Ensure that all available search results template has a conditional and text in place for when no results are found. It appears that only Blog does at the moment.

[2020-04-20 13:56] Misplon opened #356 "Expand Widget Overlay setting to include Support Text"
Using a logo, site title and support text it's possible to overlap on tablet resolutions. Consider expanding the No Widget Overlay setting to also apply to this scenario.

[2020-05-31 11:25] Misplon opened #357 "Related Posts: Split links up to allow for hover color"
Put the related posts title and date in separate `a` tags to allow for hover colors to be used.

[2020-06-09 18:02] #353 closed

[2020-06-16 23:54] AlexGStapleton opened #358 "Resolve PHP Compatability Checker Warnings"
[PHP Compatibility Checker](https://en-au.wordpress.org/plugins/php-compatibility-checker/)

[code]

[2020-06-17 20:01] AlexGStapleton commented on #358
@Misplon I've looked into this and I don't see a workable solution to this.  The `$this` related errors are correct but the first line isn't correct - __construct is one of the special reserved methods it mentions. Regardless, I attempted a fix for the `$this` errors and ended up with the same number of errors and warnings but with a different message. This time it's:

[code]

Based on the new err

[2020-06-17 20:03] Misplon commented on #358
If this is a false positive, I'm happy to close. Thanks for investigating.

[2020-06-17 20:03] Misplon commented on #358
Sure, if you have a moment, let's make a whitelist submission to help us and everyone out.

[2020-06-18 10:52] AlexGStapleton commented on #358
I had an idea about what may be causing this. I reached out to the user who reported this and will report back shortly.

[2020-06-18 10:56] Misplon commented on #358
Super, thanks.

[2020-06-20 02:37] AlexGStapleton commented on #358
Okay I've finished the test, no dice. I had thought it was getting tricked by there being mutiple classes in the one file and tried switching to just one and no dice. :(

I'll submit a whitelist request later today.

[2020-06-20 09:57] Misplon commented on #358
Super, thanks. Please, link the request here when it has been submitted. Once that's done, please, close this issue.

[2020-06-21 15:27] AlexGStapleton commented on #358
https://github.com/wpengine/phpcompat/issues/275

[2020-06-21 15:27] #358 closed

[2020-06-29 13:29] Misplon opened #360 "Check mobile menu image styling"
Add custom mobile menu images and check:

`.mobilenav-main-link img`

Image might be distorted.

[2020-07-04 13:45] Misplon opened #361 "Circle Icon Post Loop: Posts per page ignored"
To replicate the issue, insert a Post Loop widget into a page, set Posts Per Page to 9, and the template to Circle Icons. 10 posts are outputted, the count is ignored.

[2020-07-05 14:54] AlexGStapleton commented on #361
I looked into this was able to replicate this and noticed this issue occurred with any template I tried. I then noticed that I had a sticky post set and that was what was bumping the posts over 9. Do you have any sticky posts? If so, try excluding them it to see if that results in the exact number of posts.

[2020-07-05 17:59] Misplon commented on #361
Ahh yeah, that's it. Thanks for taking a look!

[2020-07-05 17:59] #361 closed

[2020-07-13 14:24] Misplon opened #362 "Re-look at cart form flexbox use"
WooCommerce single product cart form using flexbox isn't suitable for certain product pages with multiple rows in the form.

![Bushing_FL_Sizer___Bushing_Kit___Whidden_Gunworks](https://user-images.githubusercontent.com/789159/87315906-4dec1200-c525-11ea-9074-60fa0cb63a16.jpg)

[2020-07-15 12:37] #362 closed

[2020-07-23 10:09] #354 closed

[2020-08-19 15:04] Misplon opened #364 "WooCommerce: Pagination current class isn't updating when Page Builder is activated"
The WooCommerce pagination `current` class isn't updating its location on page change. The URL will reflect page 2 for example while the `current` class will remain on the first list item.

Separately, the product count isn't updating, it's showing "Showing 1–0 of 17 results". Corp is displaying this issue but doesn't have an issue with the pagination current class.

[2020-08-19 15:19] Misplon commented on #364
It's worth checking if the update fixes this https://github.com/woocommerce/woocommerce/releases/tag/4.4.1.

[2020-08-19 18:04] Misplon commented on #364
WooCommerce resolved the problem in 4.4.0.

[2020-08-19 18:04] #364 closed

[2020-08-25 11:56] Misplon opened #365 "Change header sidebar vertical alignment from JS to Flexbox"

[2020-08-29 18:18] Misplon commented on #357
I had a quick look now, I think the way the links are currently handling hover states is more in line with the styling in similar areas of the page. I'm struggling to find the support topic related to this issue, I can't recall if I sent a custom function. I'd be happy to for any user that would like to split these links up. Alternatively, the following CSS could be used at Appearance > Custom CSS

[2020-08-29 18:18] #357 closed

[2020-09-02 15:15] Misplon opened #366 "Boxed layout: Check alignwide and alignfull styles, ensure they aren't stretching outside of the container"

[2020-09-06 12:15] Misplon commented on #366
Resolved via https://github.com/siteorigin/vantage/commit/7ef2fa2c6a1a00b8370b38fc33f7fcd912512b18.

[2020-09-06 12:15] #366 closed

[2020-09-06 12:38] Misplon opened #368 "Block Editor Styles: Restrict layout wide and full to no sidebar"

[2020-09-30 16:12] AlexGStapleton opened #369 "WooCommerce: Proceed to Checkout padding changes on hover"
The padding of the Proceed to Checkout button is smaller on hover than it is by default. This results in the button resizing on hover.

![2020-10-01_02-11-00](https://user-images.githubusercontent.com/17275120/94711349-5d902f80-038b-11eb-8d00-e1e437b8d255.gif)
This can be [seen on the demo site](https://demo.siteorigin.com/vantage/cart/).

[2020-09-30 16:20] AlexGStapleton commented on #369
I provided the user with the following CSS to avoid this issue:

[code]

[2020-10-11 15:39] #368 closed

[2020-10-12 19:09] #369 closed

[2020-11-26 18:48] Misplon opened #373 "Add a theme setting to remove the archive title prefix"

[2021-03-07 14:53] Misplon commented on #373
I think let's put this setting at Theme Settings > Blog after the Blog Archive Layout setting.

**Blog Archive Title Prefix**
Display the archive page title prefix, e.g., Category Archives.

Ref: https://www.grammarly.com/blog/know-your-latin-i-e-vs-e-g/

[2021-03-08 17:45] #373 closed

[2021-04-14 14:05] AlexGStapleton opened #385 "Customzier: Use More Specific Selectors for Title and Header Fonts"
[Reported here](https://siteorigin.com/thread/font-size-and-weight-settings-not-working-on-vantage-theme/)

[2021-04-20 18:59] AlexGStapleton opened #388 "Investigate External Background Image not being imported"
This is likely related to the legacy Theme Row Styles

[2021-04-20 18:59] AlexGStapleton commented on #388
@Misplon I'm only really able to replicate the background not importing when editing an older legacy page (one that has the theme row styles). Is that the case for you also?

[2021-04-24 16:35] #385 closed

[2021-05-14 09:27] AlexGStapleton opened #389 "Add Additional Checks for FitVids to Ensure Other Plugins Loading FitVids Won't be Picked Up"
If another plugin loads FitVids, Vantage will pick up on it and apply FitVids for everything rather than the (potentially limited) areas the user loaded it for.

[2021-05-14 13:19] Misplon commented on #388
Yeah, if I create a new page then the issue doesn't persist. Should we leave this?

[2021-05-17 12:00] AlexGStapleton commented on #388
If you can't easily replicate this I'm happy with leaving it.

[2021-05-17 12:00] #388 closed

[2021-05-17 18:50] Misplon opened #390 "Resolve outstanding jQuery Migrate warnings"
* Check https://github.com/siteorigin/vantage/blob/develop/js/keyboard-image-navigation.js for any items that need updating.
* Ensure that jquery.flexslider.js has been minified. It doesn't seem like our changes are present in the minified version.

Ref: https://wordpress.org/support/topic/vantage-causing-many-jquery-errors-on-my-site/.

[2021-05-17 19:09] AlexGStapleton commented on #390
I've checked the linked thread and the reports related to Vantage are all from January. We released an update roughly ten days prior to these logs which contained the changes made in https://github.com/siteorigin/vantage/pull/374.

To confirm this suspicion, I've double-checked each of the reports, and they're not valid in the current release. For example:
`
2021-01-24 23:32:46 	jQuery.fn.keydown(

[2021-05-17 19:19] Misplon commented on #390
Super, thanks for taking a look.

[2021-05-17 19:19] #390 closed

[2021-06-07 09:57] #389 closed

[2021-06-22 14:27] platschi opened #392 "Update FontAwesome to v5"
Vantage is using an outdated version of Font Awesome (4.7) which misses out  on thousands of new icon, among them covid-19 related icons and so on.

It would be awesome if it's possible to update to v5 or even better give theme users the option to select between v4.7 or v5.15.3 (current) for compatibility purposes.

[2021-06-22 14:34] Misplon commented on #392
Hi @platschi, thanks for reaching out.

The Widgets Bundle is up to date. If you are using the Circle Icon widget you can instead switch to the Features widget. If the icons are required for menu icons then another solution will be needed. You can perhaps install the Font Awesome plugin: https://wordpress.org/plugins/font-awesome/. We could assist with any custom CSS required for menu icons.

Vant

[2021-06-22 14:43] Misplon commented on #392
Hi @platschi

I had a quick look at our work timeline. It'll probably be a couple of months before we can implement the upgrade. We're completing and starting a few new widgets for the Widgets Bundle that have been in the queue for some time. If there is anything we do to assist with your immediate requirements, please, let us know.

Thanks again for logging this.

Cheers, Andrew

[2021-07-22 14:20] warpcoil opened #396 "Accessibility"
Hello, this is a subjective issue, so you may disagree with come WCAG points.

Tabs stops, lead from logo onto search icon then back again to the first element of the menu, then the next element.  Is this by design? [i.e. when you press tabs, the seemingly natural order is not adhered to].

Tested with Accessibility Insights.

Also with the demo you may notice contrast issues: https://vantage-demo

[2021-07-22 16:02] Misplon commented on #396
Hi Bobby

Thanks for reaching out.

I'll ask one of our developers to take a look at the Vantage tab order and advise further.

Vantage, unfortunately, wasn't built as an accessibility-ready theme so defaults and demo sites are unlikely to satisfy contrast requirements. That said, all theme colors can be adjusted via Appearance > Customize > Theme Design so hopefully, you can make up for any short

[2021-07-22 16:52] warpcoil commented on #396
That is perfect.  I can confirm the colour options in "customization" options do indeed resolve the issue for us on our site.  Whether you want the demo to conform, that's none of my business :)

Thank you for looking into the tab ordering, it's very welcome.

[2021-07-22 18:42] AlexGStapleton commented on #396
Hi Bobby,

Thanks for the heads up on the tabbing. I agree with your assessment and I've made some changes in https://github.com/siteorigin/vantage/pull/397 to rectify this.

Kind regards,
Alex

[2021-07-22 20:43] #396 closed

[2021-08-29 18:11] jrfx85 opened #399 "social media share buttons not showing up anymore"
Not showing all social media buttons in blog posts:
class="network facebook" not working anymore

[2021-08-29 18:13] Misplon commented on #399
Hi, thanks for reaching out. If you're using Vantage Premium, unfortunately, it was discontinued in 2016. We're still supporting the version of Vantage hosted on WordPress.org. https://wordpress.org/themes/vantage/. The sharing buttons weren't migrated to the free version though as they are considered plugin-level functionality. You could perhaps consider a plugin like https://wordpress.org/plugin

[2021-08-30 07:28] jrfx85 commented on #399
Hi, thank you very much for the fast reply...i'll use the wp-socializer
plugin

bye

Am 29.08.2021 20:13, schrieb Andrew Misplon:

[2021-08-30 08:08] Misplon commented on #399
Sure, no problem.

If you'd like to migrate to the version of Vantage hosted on WordPress.org you can do so by switching to any other theme, deleting Vantage, and then reinstalling via Appearance > Themes > Add New. Use the search form in the top right to search for Vantage. You can also download the theme ZIP file from https://wordpress.org/plugins/vantage and install the ZIP file from Appearance

[2021-08-30 08:08] #399 closed

[2021-11-15 11:43] Misplon opened #406 "WooCommerce: Link product title color to an existing setting"
It currently isn't possible to change the WooCommerce product title via the Customizer:

[code]

[2022-01-17 16:25] warpcoil opened #410 "Accessibility Test"
Issue Priority: Low

Hi, so we do a lot of testing on accessibility (and the Vantage theme is very good when set up correctly by the user).

One thing I have noticed that if you mouse-over an a menu item you get the theme colour (set in Customisation Options), whereas if you "tab" into the menu, you get the base css colour #00bcff. In our case the "Hover Background" colour is #1c6894 but those wit

[2022-01-17 20:00] Misplon commented on #410
Hi Bobby

Thanks for letting us know about the issue. I've hopefully, resolved it via https://github.com/siteorigin/vantage/pull/411. Please, find a beta release [here](https://siteorigin.com/wp-content/uploads/2022/01/vantage.1.19.6-beta.zip).

If I've missed anything, please, let us know.

Thanks again.

Andrew

[2022-01-24 09:34] #410 closed

[2022-01-24 09:44] Misplon commented on #410
Hi Bobby

Thanks for testing and letting us know; I appreciate it.

Cheers for now.

Andrew

[2022-01-28 16:16] Misplon opened #412 "Editor Styles: Investigate Block Editor editor styles based on Customizer settings"
@AlexGStapleton Let's try to get a time estimate before proceeding. Thanks, mate.

[2022-02-27 09:12] #406 closed

[2022-03-11 08:21] christianhauff opened #414 "Alternative to Google Web Fonts"
As to a current legal discussion in Germany, there is the possibility that the usage of google fonts might bring a website owner in legal problems, see [here](https://www.theregister.com/2022/01/31/website_fine_google_fonts_gdpr/).

Is there a possibility that an alternative to using the predefined array of fonts can be implemented, e.g. to just set an url to a selfhosted font?

[2022-03-11 08:34] Misplon commented on #414
Hi Christian

Thanks for reaching out. Please, see the following [filter](https://siteorigin.com/vantage-documentation/advanced-customizations/#heading-disable-google-fonts).

[2022-03-11 08:37] christianhauff commented on #414
Hi @Misplon
great, thank you. Haven't seen that in the docs!

[2022-03-11 08:37] #414 closed

[2022-03-11 08:39] Misplon commented on #414
Thanks for taking a look. Hopefully, the filter is helpful.

Cheers

Andrew